<?xml version="1.0"  encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dykj.GSM.mapper.emergencyscheduling.mapperinterf.SysGpsPositionMapper">
    <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
    <resultMap type="SysGpsPosition" id="sysGpsPositionResult">
        <id column="CODE" property="code"/>
         <result column="CREATE_DATE" jdbcType="VARCHAR" property="createDate" />
        <result column="CREATE_BY" jdbcType="VARCHAR" property="createBy" />
        <result column="FLAG_DEL" jdbcType="CHAR" property="flagDel" />
        <result column="FLAG_DISPLAY" jdbcType="CHAR" property="flagDisplay" />
        <result column="SORT" jdbcType="DECIMAL" property="sort" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="DEVICE_IMEI" jdbcType="VARCHAR" property="deviceImei" />
        <result column="GPS_TIME" jdbcType="VARCHAR" property="gpsTime" />
        <result column="LON" jdbcType="VARCHAR" property="lon" />
        <result column="LAT" jdbcType="VARCHAR" property="lat" />
        <result column="SPEED" jdbcType="VARCHAR" property="speed" />
        <result column="GPS_TYPE" jdbcType="VARCHAR" property="gpsType" />
    </resultMap>
    
   <resultMap type="SysPositionTemp" id="sysPositionTempResult">
    <result column="POSITION" property="position" javaType="String" />
    <result column="HTML" property="html"  javaType="String" />
    <result column="NAME" property="name" javaType="String"/>
  </resultMap>

    <!-- 保存实体对象  -->
    <!-- keyProperty	selectKey 语句结果应该被设置的目标属性。  -->
    <!-- resultType	结果的类型。MyBatis 通常可以算出来,但是写上也没有问题。MyBatis 允许任何简单类型用作主键的类型,包括字符串。 -->
    <!-- order	这可以被设置为 BEFORE 或 AFTER。如果设置为 BEFORE,那么它会首先选择主键,设置 keyProperty 然后执行插入语句。
    如果设置为 AFTER,那么先执行插入语句,然后是 selectKey 元素-这和如 Oracle 数据库相似,可以在插入语句中嵌入序列调用。 -->
    <!-- statementType	和前面的相 同,MyBatis 支持 STATEMENT ,PREPARED 和CALLABLE 语句的映射类型,分别代表 PreparedStatement和CallableStatement 类型。 -->
    <insert id="insert" parameterType="SysGpsPosition">
        <selectKey keyProperty="code" resultType="String" order="BEFORE">
            SELECT SYS_GUID() FROM DUAL
        </selectKey>
            INSERT INTO SYS_GPS_POSITION
                   (CODE,CREATE_DATE,CREATE_BY,SORT,REMARK,
                    DEVICE_IMEI,GPS_TIME,LON,LAT,
                    SPEED,GPS_TYPE,)
            VALUES  (#{code,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR},
                     #{sort,jdbcType=VARCHAR},#{remark,jdbcType=VARCHAR},#{deviceImei,jdbcType=VARCHAR},
                     #{gpsTime,jdbcType=VARCHAR},#{lon,jdbcType=VARCHAR},#{lat,jdbcType=VARCHAR},
                     #{speed,jdbcType=VARCHAR},#{gpsType,jdbcType=VARCHAR},)
    </insert>

     <!-- 更新实体对象   -->
    <update id="update" parameterType="SysGpsPosition">
        UPDATE SYS_GPS_POSITION
        <set>
            <if test="deviceImei != null and deviceImei != ''">
                DEVICE_IMEI = #{deviceImei,jdbcType=VARCHAR},
            </if>
            <if test="gpsTime != null and gpsTime != ''">
                GPS_TIME = #{gpsTime,jdbcType=VARCHAR},
            </if>
            <if test="lon != null and lon != ''">
                LON = #{lon,jdbcType=VARCHAR},
            </if>
            <if test="lat != null and lat != ''">
                LAT = #{lat,jdbcType=VARCHAR},
            </if>
            <if test="speed != null and speed != ''">
                SPEED = #{speed,jdbcType=VARCHAR},
            </if>
            <if test="gpsType != null and gpsType != ''">
                GPS_TYPE = #{gpsType,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            <if test="code != null and code != ''">
                CODE = #{code,jdbcType=VARCHAR}
            </if>
        </where>
    </update>

    <!-- 根据主键删除实体对象(为假删，规定：0为显示，1为删除) -->
     <update id="deletePk" parameterType="String">
        UPDATE SYS_GPS_POSITION SET FLAG_DEL=1 WHERE CODE=#{code}
    </update>

    <!-- 批量删除(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能-->
    <update id="deleteBatch">
        UPDATE SYS_GPS_POSITION SET FLAG_DEL=1 WHERE CODE IN 
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <foreach collection="list" item="code" separator=",">
                #{code}
            </foreach>
        </trim>
    </update>

    <!-- 根据主键查询实体对象  -->
    <select id="queryByKey" parameterType="String" resultMap="sysGpsPositionResult">
        SELECT * FROM SYS_GPS_POSITION WHERE FLAG_DEL != 1 AND CODE=#{code}
    </select>

    <!-- 查询所有实体对象集合  -->
    <select id="queryList" resultMap="sysGpsPositionResult">
        SELECT * FROM SYS_GPS_POSITION where FLAG_DEL !=1 ORDER BY CODE ASC 
    </select>

    <!-- 根据条件查询所有实体对象集合  -->
    <select id="queryListParam" parameterType="SysGpsPosition" resultMap="sysGpsPositionResult">
        SELECT * FROM SYS_GPS_POSITION 
        <where>
            FLAG_DEL != 1
            <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null and createBy != ''">
                AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="flagDel != null and flagDel != ''">
                AND FLAG_DEL = #{flagDel,jdbcType=VARCHAR}
            </if>
            <if test="flagDisplay != null and flagDisplay != ''">
                AND FLAG_DISPLAY = #{flagDisplay,jdbcType=VARCHAR}
            </if>
            <if test="sort != null and sort != ''">
                AND SORT = #{sort,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="deviceImei != null and deviceImei != ''">
                AND DEVICE_IMEI = #{deviceImei,jdbcType=VARCHAR}
            </if>
            <if test="gpsTime != null and gpsTime != ''">
                AND GPS_TIME = #{gpsTime,jdbcType=VARCHAR}
            </if>
            <if test="lon != null and lon != ''">
                AND LON = #{lon,jdbcType=VARCHAR}
            </if>
            <if test="lat != null and lat != ''">
                AND LAT = #{lat,jdbcType=VARCHAR}
            </if>
            <if test="speed != null and speed != ''">
                AND SPEED = #{speed,jdbcType=VARCHAR}
            </if>
            <if test="gpsType != null and gpsType != ''">
                AND GPS_TYPE = #{gpsType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>

    <!-- 分页查询,所有实体对象集合  -->
    <select useCache="true" id="queryParamPage" parameterType="SysGpsPosition" resultMap="sysGpsPositionResult">
        SELECT * FROM SYS_GPS_POSITION
        <where>
            FLAG_DEL != 1
            <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null and createBy != ''">
                AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="flagDel != null and flagDel != ''">
                AND FLAG_DEL = #{flagDel,jdbcType=VARCHAR}
            </if>
            <if test="flagDisplay != null and flagDisplay != ''">
                AND FLAG_DISPLAY = #{flagDisplay,jdbcType=VARCHAR}
            </if>
            <if test="sort != null and sort != ''">
                AND SORT = #{sort,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="deviceImei != null and deviceImei != ''">
                AND DEVICE_IMEI = #{deviceImei,jdbcType=VARCHAR}
            </if>
            <if test="gpsTime != null and gpsTime != ''">
                AND GPS_TIME = #{gpsTime,jdbcType=VARCHAR}
            </if>
            <if test="lon != null and lon != ''">
                AND LON = #{lon,jdbcType=VARCHAR}
            </if>
            <if test="lat != null and lat != ''">
                AND LAT = #{lat,jdbcType=VARCHAR}
            </if>
            <if test="speed != null and speed != ''">
                AND SPEED = #{speed,jdbcType=VARCHAR}
            </if>
            <if test="gpsType != null and gpsType != ''">
                AND GPS_TYPE = #{gpsType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <!-- 根据实时时间段查询实时轨迹  -->
    <select id="actualGps" parameterType="SysGpsPosition" resultMap="sysPositionTempResult">
        select sys_gps_position.lon|| ','||sys_gps_position.lat as position,sys_gps_position.gps_time as html,sys_gps_device.real_name as name from sys_gps_position
        left join sys_gps_device on sys_gps_device.gps_imei = sys_gps_position.device_imei 
        <where>
            <if test="deviceImei != null and deviceImei != ''">
                sys_gps_position.device_imei = #{deviceImei,jdbcType=VARCHAR}
            </if>
            <if test="dateTime1 != null and dateTime1 != ''">
                and sys_gps_position.gps_time &gt; #{dateTime1,jdbcType=VARCHAR}
            </if>
            <if test="dateTime2 != null and dateTime2 != ''">
                and sys_gps_position.gps_time &lt; #{dateTime2,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    
    <!-- 根据时间段查询历史轨迹  -->
    <select id="historyGps" parameterType="SysGpsPosition" resultMap="sysPositionTempResult">
        select sys_gps_position.lon||','||sys_gps_position.lat as position,sys_gps_position.gps_time as html,sys_gps_device.real_name as name from sys_gps_position
		left join sys_gps_device on sys_gps_device.gps_imei = sys_gps_position.device_imei 
        <where>
            <if test="deviceImei != null and deviceImei != ''">
                sys_gps_position.device_imei = #{deviceImei,jdbcType=VARCHAR}
            </if>
            <if test="dateTime1 != null and dateTime1 != ''">
                and sys_gps_position.gps_time &gt; #{dateTime1,jdbcType=VARCHAR}
            </if>
            <if test="dateTime2 != null and dateTime2 != ''">
                and sys_gps_position.gps_time &lt; #{dateTime2,jdbcType=VARCHAR}
            </if>
        </where>
        order by sys_gps_position.gps_time asc
    </select>

    <!--  查询总记录数据  -->
    <select id="queryAllCount"  resultType="Integer">
        SELECT COUNT(*) C FROM SYS_GPS_POSITION WHERE FLAG_DEL != 1
    </select>

    <!--  查询总记录数据  -->
    <select id="queryAllCountParam" parameterType="SysGpsPosition" resultType="Integer">
        SELECT COUNT(*) C FROM SYS_GPS_POSITION 
        <where>
            FLAG_DEL != 1
            <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null and createBy != ''">
                AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
            </if>
            <if test="flagDel != null and flagDel != ''">
                AND FLAG_DEL = #{flagDel,jdbcType=VARCHAR}
            </if>
            <if test="flagDisplay != null and flagDisplay != ''">
                AND FLAG_DISPLAY = #{flagDisplay,jdbcType=VARCHAR}
            </if>
            <if test="sort != null and sort != ''">
                AND SORT = #{sort,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="deviceImei != null and deviceImei != ''">
                AND DEVICE_IMEI = #{deviceImei,jdbcType=VARCHAR}
            </if>
            <if test="gpsTime != null and gpsTime != ''">
                AND GPS_TIME = #{gpsTime,jdbcType=VARCHAR}
            </if>
            <if test="lon != null and lon != ''">
                AND LON = #{lon,jdbcType=VARCHAR}
            </if>
            <if test="lat != null and lat != ''">
                AND LAT = #{lat,jdbcType=VARCHAR}
            </if>
            <if test="speed != null and speed != ''">
                AND SPEED = #{speed,jdbcType=VARCHAR}
            </if>
            <if test="gpsType != null and gpsType != ''">
                AND GPS_TYPE = #{gpsType,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>