<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dykj.GSM.mapper.eventfile.mapperinterf.EventInformationMapper">
   <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
   <resultMap type="EventInformation" id="eInformation">
	<id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GRID_CODE" property="gridCode" jdbcType="VARCHAR" />
    <result column="NUMBERS" property="numbers" jdbcType="VARCHAR" />
    <result column="GRID_NUM" property="gridNum" jdbcType="VARCHAR" />
    <result column="ALARM_NO" property="alarmNo" jdbcType="VARCHAR" />
    <result column="EVENT_NAME" property="eventName" jdbcType="VARCHAR" />
    <result column="TIME" property="time" jdbcType="VARCHAR" />
    <result column="THE_SITE" property="theSite" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="CASE_PARTY" property="caseParty" jdbcType="VARCHAR" />
    <result column="PARTY_ADDRESS" property="partyAddress" jdbcType="VARCHAR" />
    <result column="BRIEF_CASE" property="briefCase" jdbcType="VARCHAR" />
    <result column="POLICE_TIME" property="policeTime" jdbcType="VARCHAR" />
    <result column="POLICE_PERSON" property="policePerson" jdbcType="VARCHAR" />
    <result column="DEAL_WITH" property="dealWith" jdbcType="VARCHAR" />
    <result column="CLOSED_DATE" property="closedDate" jdbcType="VARCHAR" />
    <result column="REGISTER_DATE" property="registerDate" jdbcType="VARCHAR" />
    <result column="RMARK" property="rmark" jdbcType="VARCHAR" />
    <association property="seatGrid" column="GRID_CODE" javaType="SysSeatGrid" resultMap="joinSysSeatGridResult"></association>	       
   </resultMap>
   <resultMap type="SysSeatGrid" id="joinSysSeatGridResult">
        <id column="CODE" property="code"/>
        <result column="GRID_TOTAL_NAME" jdbcType="VARCHAR" property="gridTotalName"/>
    </resultMap>
   <resultMap id="tempResult" type="ChartsTemp" >
	    <result column="NAME" jdbcType="VARCHAR" property="name" />
	    <result column="COUNTS" jdbcType="VARCHAR" property="counts" />
  </resultMap>
   <!-- <parameterMap type="map" id="paramMap">
      <parameter property="param" javaType="com.dykj.GSM.model.User" jdbcType="VARCHAR"/>
   </parameterMap> -->
   <!-- 保存实体对象  -->
   <!-- keyProperty	selectKey 语句结果应该被设置的目标属性。  -->
   <!-- resultType	结果的类型。MyBatis 通常可以算出来,但是写上也没有问题。MyBatis 允许任何简单类型用作主键的类型,包括字符串。 -->
   <!-- order	这可以被设置为 BEFORE 或 AFTER。如果设置为 BEFORE,那么它会首先选择主键,设置 keyProperty 然后执行插入语句。
   如果设置为 AFTER,那么先执行插入语句,然后是 selectKey 元素-这和如 Oracle 数据库相似,可以在插入语句中嵌入序列调用。 -->
   <!-- statementType	和前面的相 同,MyBatis 支持 STATEMENT ,PREPARED 和CALLABLE 语句的映射类型,分别代表 PreparedStatement 和CallableStatement 类型。 -->
   <insert id="insert" parameterType="EventInformation">
      <selectKey keyProperty="code" resultType="String" order="BEFORE">
        SELECT SYS_GUID() FROM DUAL
      </selectKey>
        insert into EVENT_INFORMATION (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
      REMARK, GRID_CODE, NUMBERS, 
      GRID_NUM, ALARM_NO, EVENT_NAME, 
      TIME, THE_SITE, POSITION, 
      CASE_PARTY, PARTY_ADDRESS, BRIEF_CASE, 
      POLICE_TIME, POLICE_PERSON, DEAL_WITH, 
      CLOSED_DATE, REGISTER_DATE, RMARK
      )
    values (#{code,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{flagDel,jdbcType=CHAR}, #{flagDisplay,jdbcType=CHAR}, #{sort,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{gridCode,jdbcType=VARCHAR}, #{numbers,jdbcType=VARCHAR}, 
      #{gridNum,jdbcType=VARCHAR}, #{alarmNo,jdbcType=VARCHAR}, #{eventName,jdbcType=VARCHAR}, 
      #{time,jdbcType=VARCHAR}, #{theSite,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{caseParty,jdbcType=VARCHAR}, #{partyAddress,jdbcType=VARCHAR}, #{briefCase,jdbcType=VARCHAR}, 
      #{policeTime,jdbcType=VARCHAR}, #{policePerson,jdbcType=VARCHAR}, #{dealWith,jdbcType=VARCHAR}, 
      #{closedDate,jdbcType=VARCHAR}, #{registerDate,jdbcType=VARCHAR}, #{rmark,jdbcType=VARCHAR}
      )
   </insert>
    
    <!-- 更新实体对象   -->
    <update id="update" parameterType="EventInformation">
        UPDATE EVENT_INFORMATION 
         <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="flagDel != null" >
        FLAG_DEL = #{flagDel,jdbcType=CHAR},
      </if>
      <if test="flagDisplay != null" >
        FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null" >
        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="numbers != null" >
        NUMBERS = #{numbers,jdbcType=VARCHAR},
      </if>
      <if test="gridNum != null" >
        GRID_NUM = #{gridNum,jdbcType=VARCHAR},
      </if>
      <if test="alarmNo != null" >
        ALARM_NO = #{alarmNo,jdbcType=VARCHAR},
      </if>
      <if test="eventName != null" >
        EVENT_NAME = #{eventName,jdbcType=VARCHAR},
      </if>
      <if test="time != null" >
        TIME = #{time,jdbcType=VARCHAR},
      </if>
      <if test="theSite != null" >
        THE_SITE = #{theSite,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="caseParty != null" >
        CASE_PARTY = #{caseParty,jdbcType=VARCHAR},
      </if>
      <if test="partyAddress != null" >
        PARTY_ADDRESS = #{partyAddress,jdbcType=VARCHAR},
      </if>
      <if test="briefCase != null" >
        BRIEF_CASE = #{briefCase,jdbcType=VARCHAR},
      </if>
      <if test="policeTime != null" >
        POLICE_TIME = #{policeTime,jdbcType=VARCHAR},
      </if>
      <if test="policePerson != null" >
        POLICE_PERSON = #{policePerson,jdbcType=VARCHAR},
      </if>
      <if test="dealWith != null" >
        DEAL_WITH = #{dealWith,jdbcType=VARCHAR},
      </if>
      <if test="closedDate != null" >
        CLOSED_DATE = #{closedDate,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        REGISTER_DATE = #{registerDate,jdbcType=VARCHAR},
      </if>
      <if test="rmark != null" >
        RMARK = #{rmark,jdbcType=VARCHAR},
      </if>
        </set> 
        <where>
           <if test="code != null and code != ''">
              CODE = #{code,jdbcType=VARCHAR}
           </if>
        </where>
    </update>
     <!-- 更新实体对象 (参数)  -->
    <update id="updateParam" parameterType="java.util.Map">
       UPDATE EVENT_INFORMATION 
         <set>
             <if test="createDate != null and createDate != ''">
		        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
		      </if>
		      <if test="createBy != null and createBy != ''">
		        CREATE_BY = #{createBy,jdbcType=VARCHAR},
		      </if>
		      <if test="sort != null and sort != ''">
		        SORT = #{sort,jdbcType=DECIMAL},
		      </if>
		      <if test="remark != null and remark != ''">
		        REMARK = #{remark,jdbcType=VARCHAR},
		      </if>
		      <if test="gridCode != null and gridCode != ''">
		        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
		      </if>
		     
		      <if test="gridNum != null and gridNum != ''">
		        GRID_NUM = #{gridNum,jdbcType=VARCHAR},
		      </if>
		      
		      <if test="contradictionsDate != null and contradictionsDate != ''">
		        CONTRADICTIONS_DATE = #{contradictionsDate,jdbcType=VARCHAR},
		      </if>
		      <if test="resolveDate != null and resolveDate != ''">
		        RESOLVE_DATE = #{resolveDate,jdbcType=VARCHAR},
		      </if>
		      <if test="contradictions != null and contradictions != ''">
		        CONTRADICTIONS = #{contradictions,jdbcType=CHAR},
		      </if>
		      <if test="contradictionsParty != null and contradictionsParty != ''">
		        CONTRADICTIONS_PARTY = #{contradictionsParty,jdbcType=VARCHAR},
		      </if>
		      <if test="contradictionsPersons != null and contradictionsPersons != ''">
		        CONTRADICTIONS_PERSONS = #{contradictionsPersons,jdbcType=VARCHAR},
		      </if>
		      <if test="contradictionsSituation != null and contradictionsSituation != ''">
		        CONTRADICTIONS_SITUATION = #{contradictionsSituation,jdbcType=VARCHAR},
		      </if>
		      <if test="takeName != null and takeName != ''">
		        TAKE_NAME = #{takeName,jdbcType=VARCHAR},
		      </if>
		      <if test="stabilityName != null and stabilityName != ''">
		        STABILITY_NAME = #{stabilityName,jdbcType=VARCHAR},
		      </if>
		      <if test="stabilityMeasure != null and stabilityMeasure != ''">
		        STABILITY_MEASURE = #{stabilityMeasure,jdbcType=VARCHAR},
		      </if>
		      <if test="problemUnit != null and problemUnit != ''">
		        PROBLEM_UNIT = #{problemUnit,jdbcType=VARCHAR},
		      </if>
		      <if test="problemName != null and problemName != ''">
		        PROBLEM_NAME = #{problemName,jdbcType=VARCHAR},
		      </if>
		      <if test="problemResolution != null and problemResolution != ''">
		        PROBLEM_RESOLUTION = #{problemResolution,jdbcType=VARCHAR},
		      </if>
		      <if test="feedBake != null and feedBake != ''">
		        FEED_BAKE = #{feedBake,jdbcType=VARCHAR},
		      </if>
		      <if test="supervisionDuty != null and supervisionDuty != ''">
		        SUPERVISION_DUTY = #{supervisionDuty,jdbcType=VARCHAR},
		      </if>
		      <if test="supervisionPerson != null and supervisionPerson != ''">
		        SUPERVISION_PERSON = #{supervisionPerson,jdbcType=VARCHAR},
		      </if>
		       <if test="position != null and position != ''">
		        POSITION = #{position,jdbcType=VARCHAR},
		      </if>
		      <if test="registerDate != null and registerDate != ''">
		        REGISTER_DATE = #{registerDate,jdbcType=VARCHAR},
		      </if>
		      <if test="mrmark != null and mrmark != ''">
		        REGISTER_DATE = #{mrmark,jdbcType=VARCHAR},
		      </if>
        </set>
        <where>
           <if test="code != null and code != ''">
              CODE = #{code,jdbcType=VARCHAR}
           </if>
        </where>
    </update>
     <!-- 批量更新 (注：由于业务上暂时没有要求，
     所以预留批量更新的接口，但没有具体实现功能)-->  
   <update id="updateBatch" parameterType="EventInformation"></update>
    
    <!-- 根据主键删除实体对象 -->
    <!-- <delete id="deletePk" parameterType="int">
        DELETE FROM R_USERS WHERE CODE=#{code}
    </delete> -->
    <!-- 根据主键删除实体对象(为假删，规定：0为显示，1为删除) -->
    <update id="deletePk" parameterType="String">
       UPDATE EVENT_INFORMATION SET FLAG_DEL=1 WHERE CODE=#{code}
    </update>
    
    <!-- 根据参数删除实体对象(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能-->
    <update id="deleteParam" parameterType="int">
    </update>
    
    <!-- 批量删除(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能-->
    <update id="deleteBatch">
       UPDATE EVENT_INFORMATION SET FLAG_DEL=1 WHERE CODE IN 
       <trim prefix="(" suffix=")" suffixOverrides=",">
          <foreach collection="list" item="code" separator=",">
	          #{code}
          </foreach>
       </trim>
    </update>
    
    <!-- 根据主键查询实体对象  -->
    <select id="queryByKey" parameterType="String" resultMap="eInformation">
        SELECT EVENT_INFORMATION.*,SSG.GRID_TOTAL_NAME 
		FROM EVENT_INFORMATION LEFT JOIN SYS_SEAT_GRID SSG ON SSG.CODE = EVENT_INFORMATION.GRID_CODE
		WHERE EVENT_INFORMATION.FLAG_DEL != 1 AND EVENT_INFORMATION.CODE=#{code}
    </select>
    
     <!-- 查询所有实体对象集合  -->
   <select id="queryList" resultMap="eInformation">
   		SELECT * FROM EVENT_INFORMATION where FLAG_DEL !=1 ORDER BY CODE ASC 
   </select>
    
   <!-- 根据条件查询所有实体对象集合  -->
   <select id="queryListParam" parameterType="EventInformation" resultMap="eInformation">
   		   SELECT * FROM EVENT_INFORMATION 
   		   <where>
   		      FLAG_DEL != 1
	  <if test="createDate != null" >
       AND  CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="flagDel != null" >
        AND FLAG_DEL = #{flagDel,jdbcType=CHAR}
      </if>
      <if test="flagDisplay != null" >
        AND FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR}
      </if>
      <if test="sort != null" >
        AND SORT = #{sort,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="gridCode != null" >
        AND GRID_CODE LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
      </if>
      <if test="numbers != null" >
        AND NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null" >
        AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="alarmNo != null" >
        AND ALARM_NO LIKE CONCAT(CONCAT('%', #{alarmNo,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="eventName != null" >
        AND EVENT_NAME LIKE CONCAT(CONCAT('%', #{eventName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="time != null" >
        AND TIME LIKE CONCAT(CONCAT('%', #{time,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="theSite != null" >
        AND THE_SITE = #{theSite,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="caseParty != null" >
        AND CASE_PARTY LIKE CONCAT(CONCAT('%', #{caseParty,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="partyAddress != null" >
        AND PARTY_ADDRESS = #{partyAddress,jdbcType=VARCHAR}
      </if>
      <if test="briefCase != null" >
        AND BRIEF_CASE = #{briefCase,jdbcType=VARCHAR}
      </if>
      <if test="policeTime != null" >
        AND POLICE_TIME = #{policeTime,jdbcType=VARCHAR}
      </if>
      <if test="policePerson != null" >
        AND POLICE_PERSON LIKE CONCAT(CONCAT('%', #{policePerson,jdbcType=VARCHAR}),'%')
      </if>
      <if test="dealWith != null" >
        AND DEAL_WITH = #{dealWith,jdbcType=VARCHAR}
      </if>
      <if test="closedDate != null" >
        AND CLOSED_DATE = #{closedDate,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND RMARK = #{rmark,jdbcType=VARCHAR}
      </if>
   		   </where>
   </select>
   
    <!-- 分页查询,所有实体对象集合  -->
   <select id="queryParamPage" parameterType="EventInformation" resultMap="eInformation">
SELECT EVENT_INFORMATION.*,SSG.GRID_TOTAL_NAME  FROM EVENT_INFORMATION 
LEFT JOIN SYS_SEAT_GRID SSG ON SSG.CODE = EVENT_INFORMATION.GRID_CODE
   		   <where>
   		      EVENT_INFORMATION.FLAG_DEL != 1
	  <if test="createDate != null" >
       AND  EVENT_INFORMATION.CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND EVENT_INFORMATION.CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        AND EVENT_INFORMATION.REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="gridCode != null and gridCode!=''" >
        AND EVENT_INFORMATION.GRID_CODE LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
      </if>
      <if test="numbers != null and numbers!=''" >
        AND EVENT_INFORMATION.NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null and gridNum!=''" >
        AND EVENT_INFORMATION.GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="alarmNo != null and alarmNo!=''" >
        AND EVENT_INFORMATION.ALARM_NO LIKE CONCAT(CONCAT('%', #{alarmNo,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="eventName != null and eventName!=''" >
        AND EVENT_INFORMATION.EVENT_NAME LIKE CONCAT(CONCAT('%', #{eventName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="time != null and time!=''" >
        AND EVENT_INFORMATION.TIME LIKE CONCAT(CONCAT('%', #{time,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="theSite != null" >
        AND EVENT_INFORMATION.THE_SITE = #{theSite,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND EVENT_INFORMATION.POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="caseParty != null and caseParty!=''" >
        AND EVENT_INFORMATION.CASE_PARTY LIKE CONCAT(CONCAT('%', #{caseParty,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="partyAddress != null" >
        AND EVENT_INFORMATION.PARTY_ADDRESS = #{partyAddress,jdbcType=VARCHAR}
      </if>
      <if test="briefCase != null" >
        AND EVENT_INFORMATION.BRIEF_CASE = #{briefCase,jdbcType=VARCHAR}
      </if>
      <if test="policeTime != null" >
        AND EVENT_INFORMATION.POLICE_TIME = #{policeTime,jdbcType=VARCHAR}
      </if>
      <if test="policePerson != null and policePerson!=''" >
        AND EVENT_INFORMATION.POLICE_PERSON LIKE CONCAT(CONCAT('%', #{policePerson,jdbcType=VARCHAR}),'%')
      </if>
      <if test="dealWith != null" >
        AND EVENT_INFORMATION.DEAL_WITH = #{dealWith,jdbcType=VARCHAR}
      </if>
      <if test="closedDate != null" >
        AND EVENT_INFORMATION.CLOSED_DATE = #{closedDate,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND EVENT_INFORMATION.REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND EVENT_INFORMATION.RMARK = #{rmark,jdbcType=VARCHAR}
      </if>
   		   </where>
   </select>
    
   <!--  查询总记录数据  -->
   <select id="queryAllCount"  resultType="Integer">
   		SELECT COUNT(*) C FROM EVENT_INFORMATION WHERE FLAG_DEL != 1
   </select>
   
    <!--  查询总记录数据  -->
   <select id="queryAllCountParam" parameterType="EventInformation" resultType="Integer">
   		<!-- <bind name="loginName" value="'%'+_parameter.loginName+'%'"/> -->
   		   SELECT COUNT(*) C FROM EVENT_INFORMATION  
   		   <where>
   		      FLAG_DEL != 1
		     <if test="createDate != null and createDate != ''">
		        CREATE_DATE = #{createDate,jdbcType=VARCHAR}
		      </if>
		      <if test="createBy != null and createBy != ''">
		       AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
		      </if>
		      <if test="sort != null and sort != ''">
		       AND SORT = #{sort,jdbcType=DECIMAL}
		      </if>
		      <if test="remark != null and remark != ''">
		       AND REMARK = #{remark,jdbcType=VARCHAR}
		      </if>
		      <if test="gridCode != null and gridCode != ''">
		       AND GRID_CODE = #{gridCode,jdbcType=VARCHAR}
		      </if>
		     
		      <if test="gridNum != null and gridNum != ''">
		       AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
		      </if>
		      
		      <if test="contradictionsDate != null and contradictionsDate != ''">
		       AND CONTRADICTIONS_DATE = #{contradictionsDate,jdbcType=VARCHAR}
		      </if>
		      <if test="resolveDate != null and resolveDate != ''">
		       AND RESOLVE_DATE = #{resolveDate,jdbcType=VARCHAR}
		      </if>
		      <if test="contradictions != null and contradictions != ''">
		       AND CONTRADICTIONS = #{contradictions,jdbcType=CHAR}
		      </if>
		      <if test="contradictionsParty != null and contradictionsParty != ''">
		       AND CONTRADICTIONS_PARTY = #{contradictionsParty,jdbcType=VARCHAR}
		      </if>
		      <if test="contradictionsPersons != null and contradictionsPersons != ''">
		       AND CONTRADICTIONS_PERSONS = #{contradictionsPersons,jdbcType=VARCHAR}
		      </if>
		      <if test="contradictionsSituation != null and contradictionsSituation != ''">
		       AND CONTRADICTIONS_SITUATION = #{contradictionsSituation,jdbcType=VARCHAR}
		      </if>
		      <if test="takeName != null and takeName != ''">
		       AND TAKE_NAME = #{takeName,jdbcType=VARCHAR}
		      </if>
		      <if test="stabilityName != null and stabilityName != ''">
		       AND STABILITY_NAME = #{stabilityName,jdbcType=VARCHAR}
		      </if>
		      <if test="stabilityMeasure != null and stabilityMeasure != ''">
		       AND STABILITY_MEASURE = #{stabilityMeasure,jdbcType=VARCHAR}
		      </if>
		      <if test="problemUnit != null and problemUnit != ''">
		       AND PROBLEM_UNIT = #{problemUnit,jdbcType=VARCHAR}
		      </if>
		      <if test="problemName != null and problemName != ''">
		       AND PROBLEM_NAME = #{problemName,jdbcType=VARCHAR}
		      </if>
		      <if test="problemResolution != null and problemResolution != ''">
		       AND PROBLEM_RESOLUTION = #{problemResolution,jdbcType=VARCHAR}
		      </if>
		      <if test="feedBake != null and feedBake != ''">
		       AND FEED_BAKE = #{feedBake,jdbcType=VARCHAR}
		      </if>
		      <if test="supervisionDuty != null and supervisionDuty != ''">
		       AND SUPERVISION_DUTY = #{supervisionDuty,jdbcType=VARCHAR}
		      </if>
		      <if test="supervisionPerson != null and supervisionPerson != ''">
		       AND SUPERVISION_PERSON = #{supervisionPerson,jdbcType=VARCHAR}
		      </if>
		       <if test="position != null and position != ''">
		       AND POSITION = #{position,jdbcType=VARCHAR}
		      </if>
		      <if test="registerDate != null and registerDate != ''">
		       AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
		      </if>
		      <if test="mrmark != null and mrmark != ''">
		       AND REGISTER_DATE = #{mrmark,jdbcType=VARCHAR}
		      </if>
   		   </where>
   </select>
        <select id="Charts" parameterType="BParts" resultMap="tempResult" >
	<if test="gridCode.length() ==2 ">
		SELECT COUNT(EVENT_INFORMATION.code) AS COUNTS , sys_seat_second.name AS NAME
		,sys_seat_second.code FROM EVENT_INFORMATION
		LEFT JOIN sys_seat_grid ON EVENT_INFORMATION.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		LEFT JOIN sys_seat_third ON
		sys_seat_four.parent_code=sys_seat_third.code
		LEFT JOIN sys_seat_second ON
		sys_seat_third.parent_code=sys_seat_second.code
		where 1=1
		and sys_seat_second.code  LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() ==5 ">
		SELECT COUNT(EVENT_INFORMATION.code) AS COUNTS , sys_seat_third.name AS NAME
		,sys_seat_third.code FROM EVENT_INFORMATION
		LEFT JOIN sys_seat_grid ON EVENT_INFORMATION.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		LEFT JOIN sys_seat_third ON
		sys_seat_four.parent_code=sys_seat_third.code
		where 1=1
		and sys_seat_third.code  LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() ==8 ">
		SELECT COUNT(EVENT_INFORMATION.code) AS COUNTS , sys_seat_four.name AS NAME
		,sys_seat_four.code FROM EVENT_INFORMATION
		LEFT JOIN sys_seat_grid ON EVENT_INFORMATION.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		where 1=1
		and sys_seat_four.code LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() >8 ">
		SELECT COUNT(EVENT_INFORMATION.code) AS COUNTS , sys_seat_grid.name AS NAME
		,sys_seat_grid.code FROM EVENT_INFORMATION
		LEFT JOIN sys_seat_grid ON EVENT_INFORMATION.grid_code=sys_seat_grid.code
		where 1=1
		and sys_seat_grid.code LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>

		     <if test="createDate != null and createDate != ''">
                CREATE_DATE = #{createDate,jdbcType=VARCHAR}
            </if>
            <if test="createBy != null and createBy != ''">
                AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
            </if>
           
            <if test="sort != null and sort != ''">
                AND SORT = #{sort,jdbcType=VARCHAR}
            </if>
            <if test="remark != null and remark != ''">
                AND REMARK = #{remark,jdbcType=VARCHAR}
            </if>
          
              <if test="numbers != null and numbers!=''" >
		        AND NUMBERS = #{numbers,jdbcType=VARCHAR}
		      </if>
		      <if test="gridNum != null and gridNum!=''" >
		        AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
		      </if>
		      <if test="alarmNo != null and alarmNo!=''" >
		        AND ALARM_NO LIKE CONCAT(CONCAT('%', #{alarmNo,jdbcType=VARCHAR}),'%') 
		      </if>
		      <if test="eventName != null and eventName!=''" >
		        AND EVENT_NAME LIKE CONCAT(CONCAT('%', #{eventName,jdbcType=VARCHAR}),'%') 
		      </if>
		      <if test="time != null and time!=''" >
		        AND TIME LIKE CONCAT(CONCAT('%', #{time,jdbcType=VARCHAR}),'%') 
		      </if>
		      <if test="theSite != null" >
		        AND THE_SITE = #{theSite,jdbcType=VARCHAR}
		      </if>
		      <if test="position != null" >
		        AND POSITION = #{position,jdbcType=VARCHAR}
		      </if>
		      <if test="caseParty != null and caseParty!=''" >
		        AND CASE_PARTY LIKE CONCAT(CONCAT('%', #{caseParty,jdbcType=VARCHAR}),'%') 
		      </if>
		      <if test="partyAddress != null" >
		        AND PARTY_ADDRESS = #{partyAddress,jdbcType=VARCHAR}
		      </if>
		      <if test="briefCase != null" >
		        AND BRIEF_CASE = #{briefCase,jdbcType=VARCHAR}
		      </if>
		      <if test="policeTime != null" >
		        AND POLICE_TIME = #{policeTime,jdbcType=VARCHAR}
		      </if>
		      <if test="policePerson != null and policePerson!=''" >
		        AND POLICE_PERSON LIKE CONCAT(CONCAT('%', #{policePerson,jdbcType=VARCHAR}),'%')
		      </if>
		      <if test="dealWith != null" >
		        AND DEAL_WITH = #{dealWith,jdbcType=VARCHAR}
		      </if>
		      <if test="closedDate != null" >
		        AND CLOSED_DATE = #{closedDate,jdbcType=VARCHAR}
		      </if>
		      <if test="registerDate != null" >
		        AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
		      </if>
		      <if test="rmark != null" >
		        AND RMARK = #{rmark,jdbcType=VARCHAR}
		      </if>


 AND EVENT_INFORMATION.FLAG_DEL != 1
	<if test="gridCode.length() ==2 ">
	GROUP BY sys_seat_second.name ,sys_seat_second.code
	</if>
	<if test="gridCode.length() ==5 ">
		GROUP BY sys_seat_third.name ,sys_seat_third.code
	</if>
	<if test="gridCode.length() ==8 ">
		GROUP BY sys_seat_four.name ,sys_seat_four.code
	</if>
	<if test="gridCode.length() >8 ">
		GROUP BY sys_seat_grid.name ,sys_seat_grid.code
	</if>
   </select>
</mapper>
 