<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dykj.GSM.mapper.eventfile.mapperinterf.EventKeyPlaceMapper">
   <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>
   <resultMap type="EventKeyPlace" id="eKeyPlace">
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GRID_CODE" property="gridCode" jdbcType="VARCHAR" />
    <result column="NUMBERS" property="numbers" jdbcType="VARCHAR" />
    <result column="GRID_NUM" property="gridNum" jdbcType="VARCHAR" />
    <result column="TROUBLE_NAME" property="troubleName" jdbcType="VARCHAR" />
    <result column="PLACE_RANGE" property="placeRange" jdbcType="VARCHAR" />
    <result column="SECURITY_PRO" property="securityPro" jdbcType="VARCHAR" />
    <result column="BELONG_UNIT" property="belongUnit" jdbcType="VARCHAR" />
    <result column="UNIT_NAME" property="unitName" jdbcType="VARCHAR" />
    <result column="UNIT_JOB" property="unitJob" jdbcType="VARCHAR" />
    <result column="UNIT_PHONE" property="unitPhone" jdbcType="VARCHAR" />
    <result column="ADMIN_NAME" property="adminName" jdbcType="VARCHAR" />
    <result column="ADMIN_JOB" property="adminJob" jdbcType="VARCHAR" />
    <result column="ADMIN_PHONE" property="adminPhone" jdbcType="VARCHAR" />
    <result column="POLICE" property="police" jdbcType="VARCHAR" />
    <result column="DIRECTOR_PHONE" property="directorPhone" jdbcType="VARCHAR" />
    <result column="CODE_SUPERIORS_LISTING" property="codeSuperiorsListing" jdbcType="VARCHAR" />
    <result column="REMEDIATION_DATE" property="remediationDate" jdbcType="VARCHAR" />
    <result column="REMEDIATION_MEASURE" property="remediationMeasure" jdbcType="VARCHAR" />
    <result column="REMEDIATION_SITUATION" property="remediationSituation" jdbcType="VARCHAR" />
    <result column="SUPERIORS_ACCEP" property="superiorsAccep" jdbcType="VARCHAR" />
    <result column="POSITION" property="position" jdbcType="VARCHAR" />
    <result column="REGISTER_DATE" property="registerDate" jdbcType="VARCHAR" />
    <result column="RMARK" property="rmark" jdbcType="VARCHAR" />
    <association property="seatGrid" column="GRID_CODE" javaType="SysSeatGrid" resultMap="joinSysSeatGridResult"></association>	       
   </resultMap>
   <resultMap type="SysSeatGrid" id="joinSysSeatGridResult">
        <id column="CODE" property="code"/>
        <result column="GRID_TOTAL_NAME" jdbcType="VARCHAR" property="gridTotalName"/>
    </resultMap>
   <resultMap id="tempResult" type="ChartsTemp" >
	    <result column="NAME" jdbcType="VARCHAR" property="name" />
	    <result column="COUNTS" jdbcType="VARCHAR" property="counts" />
  </resultMap>
   <!-- <parameterMap type="map" id="paramMap">
      <parameter property="param" javaType="com.dykj.GSM.model.User" jdbcType="VARCHAR"/>
   </parameterMap> -->
   <!-- 保存实体对象  -->
   <!-- keyProperty	selectKey 语句结果应该被设置的目标属性。  -->
   <!-- resultType	结果的类型。MyBatis 通常可以算出来,但是写上也没有问题。MyBatis 允许任何简单类型用作主键的类型,包括字符串。 -->
   <!-- order	这可以被设置为 BEFORE 或 AFTER。如果设置为 BEFORE,那么它会首先选择主键,设置 keyProperty 然后执行插入语句。
   如果设置为 AFTER,那么先执行插入语句,然后是 selectKey 元素-这和如 Oracle 数据库相似,可以在插入语句中嵌入序列调用。 -->
   <!-- statementType	和前面的相 同,MyBatis 支持 STATEMENT ,PREPARED 和CALLABLE 语句的映射类型,分别代表 PreparedStatement 和CallableStatement 类型。 -->
   <insert id="insert" parameterType="EventKeyPlace">
      <selectKey keyProperty="code" resultType="String" order="BEFORE">
        SELECT SYS_GUID() FROM DUAL
      </selectKey>
        insert into EVENT_KEY_PLACE (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
      REMARK, GRID_CODE, NUMBERS, 
      GRID_NUM, TROUBLE_NAME, PLACE_RANGE, 
      SECURITY_PRO, BELONG_UNIT, UNIT_NAME, 
      UNIT_JOB, UNIT_PHONE, ADMIN_NAME, 
      ADMIN_JOB, ADMIN_PHONE, POLICE, 
      DIRECTOR_PHONE, CODE_SUPERIORS_LISTING, REMEDIATION_DATE, 
      REMEDIATION_MEASURE, REMEDIATION_SITUATION, SUPERIORS_ACCEP, 
      POSITION, REGISTER_DATE, RMARK
      )
    values (#{code,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{flagDel,jdbcType=CHAR}, #{flagDisplay,jdbcType=CHAR}, #{sort,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{gridCode,jdbcType=VARCHAR}, #{numbers,jdbcType=VARCHAR}, 
      #{gridNum,jdbcType=VARCHAR}, #{troubleName,jdbcType=VARCHAR}, #{placeRange,jdbcType=VARCHAR}, 
      #{securityPro,jdbcType=VARCHAR}, #{belongUnit,jdbcType=VARCHAR}, #{unitName,jdbcType=VARCHAR}, 
      #{unitJob,jdbcType=VARCHAR}, #{unitPhone,jdbcType=VARCHAR}, #{adminName,jdbcType=VARCHAR}, 
      #{adminJob,jdbcType=VARCHAR}, #{adminPhone,jdbcType=VARCHAR}, #{police,jdbcType=VARCHAR}, 
      #{directorPhone,jdbcType=VARCHAR}, #{codeSuperiorsListing,jdbcType=VARCHAR}, #{remediationDate,jdbcType=VARCHAR}, 
      #{remediationMeasure,jdbcType=VARCHAR}, #{remediationSituation,jdbcType=VARCHAR}, #{superiorsAccep,jdbcType=VARCHAR}, 
      #{position,jdbcType=VARCHAR}, #{registerDate,jdbcType=VARCHAR}, #{rmark,jdbcType=VARCHAR}
      )
   </insert>
    
    <!-- 更新实体对象   -->
    <update id="update" parameterType="EventKeyPlace">
        UPDATE EVENT_KEY_PLACE 
         <set>
              <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="flagDel != null" >
        FLAG_DEL = #{flagDel,jdbcType=CHAR},
      </if>
      <if test="flagDisplay != null" >
        FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null" >
        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="numbers != null" >
        NUMBERS = #{numbers,jdbcType=VARCHAR},
      </if>
      <if test="gridNum != null" >
        GRID_NUM = #{gridNum,jdbcType=VARCHAR},
      </if>
      <if test="troubleName != null" >
        TROUBLE_NAME = #{troubleName,jdbcType=VARCHAR},
      </if>
      <if test="placeRange != null" >
        PLACE_RANGE = #{placeRange,jdbcType=VARCHAR},
      </if>
      <if test="securityPro != null" >
        SECURITY_PRO = #{securityPro,jdbcType=VARCHAR},
      </if>
      <if test="belongUnit != null" >
        BELONG_UNIT = #{belongUnit,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitJob != null" >
        UNIT_JOB = #{unitJob,jdbcType=VARCHAR},
      </if>
      <if test="unitPhone != null" >
        UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminJob != null" >
        ADMIN_JOB = #{adminJob,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="police != null" >
        POLICE = #{police,jdbcType=VARCHAR},
      </if>
      <if test="directorPhone != null" >
        DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR},
      </if>
      <if test="codeSuperiorsListing != null" >
        CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR},
      </if>
      <if test="remediationDate != null" >
        REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR},
      </if>
      <if test="remediationMeasure != null" >
        REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR},
      </if>
      <if test="remediationSituation != null" >
        REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR},
      </if>
      <if test="superiorsAccep != null" >
        SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        REGISTER_DATE = #{registerDate,jdbcType=VARCHAR},
      </if>
      <if test="rmark != null" >
        RMARK = #{rmark,jdbcType=VARCHAR},
      </if>
        </set> 
        <where>
           <if test="code != null and code != ''">
              CODE = #{code,jdbcType=VARCHAR}
           </if>
        </where>
    </update>
     <!-- 更新实体对象 (参数)  -->
    <update id="updateParam" parameterType="java.util.Map">
       UPDATE EVENT_KEY_PLACE 
         <set>
             <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="flagDel != null" >
        FLAG_DEL = #{flagDel,jdbcType=CHAR},
      </if>
      <if test="flagDisplay != null" >
        FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gridCode != null" >
        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="numbers != null" >
        NUMBERS = #{numbers,jdbcType=VARCHAR},
      </if>
      <if test="gridNum != null" >
        GRID_NUM = #{gridNum,jdbcType=VARCHAR},
      </if>
      <if test="troubleName != null" >
        TROUBLE_NAME = #{troubleName,jdbcType=VARCHAR},
      </if>
      <if test="placeRange != null" >
        PLACE_RANGE = #{placeRange,jdbcType=VARCHAR},
      </if>
      <if test="securityPro != null" >
        SECURITY_PRO = #{securityPro,jdbcType=VARCHAR},
      </if>
      <if test="belongUnit != null" >
        BELONG_UNIT = #{belongUnit,jdbcType=VARCHAR},
      </if>
      <if test="unitName != null" >
        UNIT_NAME = #{unitName,jdbcType=VARCHAR},
      </if>
      <if test="unitJob != null" >
        UNIT_JOB = #{unitJob,jdbcType=VARCHAR},
      </if>
      <if test="unitPhone != null" >
        UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR},
      </if>
      <if test="adminName != null" >
        ADMIN_NAME = #{adminName,jdbcType=VARCHAR},
      </if>
      <if test="adminJob != null" >
        ADMIN_JOB = #{adminJob,jdbcType=VARCHAR},
      </if>
      <if test="adminPhone != null" >
        ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR},
      </if>
      <if test="police != null" >
        POLICE = #{police,jdbcType=VARCHAR},
      </if>
      <if test="directorPhone != null" >
        DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR},
      </if>
      <if test="codeSuperiorsListing != null" >
        CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR},
      </if>
      <if test="remediationDate != null" >
        REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR},
      </if>
      <if test="remediationMeasure != null" >
        REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR},
      </if>
      <if test="remediationSituation != null" >
        REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR},
      </if>
      <if test="superiorsAccep != null" >
        SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        POSITION = #{position,jdbcType=VARCHAR},
      </if>
      <if test="registerDate != null" >
        REGISTER_DATE = #{registerDate,jdbcType=VARCHAR},
      </if>
      <if test="rmark != null" >
        RMARK = #{rmark,jdbcType=VARCHAR},
      </if>
        </set>
        <where>
           <if test="code != null and code != ''">
              CODE = #{code,jdbcType=VARCHAR}
           </if>
        </where>
    </update>
     <!-- 批量更新 (注：由于业务上暂时没有要求，
     所以预留批量更新的接口，但没有具体实现功能)-->  
   <update id="updateBatch" parameterType="EventKeyPlace"></update>
    
    <!-- 根据主键删除实体对象 -->
    <!-- <delete id="deletePk" parameterType="int">
        DELETE FROM R_USERS WHERE CODE=#{code}
    </delete> -->
    <!-- 根据主键删除实体对象(为假删，规定：0为显示，1为删除) -->
    <update id="deletePk" parameterType="String">
       UPDATE EVENT_KEY_PLACE SET FLAG_DEL=1 WHERE CODE=#{code}
    </update>
    
    <!-- 根据参数删除实体对象(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能-->
    <update id="deleteParam" parameterType="int">
    </update>
    
    <!-- 批量删除(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能-->
    <update id="deleteBatch">
       UPDATE EVENT_KEY_PLACE SET FLAG_DEL=1 WHERE CODE IN 
       <trim prefix="(" suffix=")" suffixOverrides=",">
          <foreach collection="list" item="code" separator=",">
	          #{code}
          </foreach>
       </trim>
    </update>
    
    <!-- 根据主键查询实体对象  -->
    <select id="queryByKey" parameterType="String" resultMap="eKeyPlace">
     	SELECT EVENT_KEY_PLACE.*,SSG.GRID_TOTAL_NAME 
		FROM EVENT_KEY_PLACE LEFT JOIN SYS_SEAT_GRID SSG ON SSG.CODE = EVENT_KEY_PLACE.GRID_CODE 
		WHERE EVENT_KEY_PLACE.FLAG_DEL != 1 AND EVENT_KEY_PLACE.CODE=#{code}
    </select>
    
     <!-- 查询所有实体对象集合  -->
   <select id="queryList" resultMap="eKeyPlace">
   		SELECT * FROM EVENT_KEY_PLACE where FLAG_DEL !=1 ORDER BY CODE ASC 
   </select>
    
   <!-- 根据条件查询所有实体对象集合  -->
   <select id="queryListParam" parameterType="EventKeyPlace" resultMap="eKeyPlace">
   		   SELECT * FROM EVENT_KEY_PLACE 
   		   <where>
   		      FLAG_DEL != 1
	  <if test="createDate != null" >
        AND CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="flagDel != null" >
        AND FLAG_DEL = #{flagDel,jdbcType=CHAR}
      </if>
      <if test="flagDisplay != null" >
        AND FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR}
      </if>
      <if test="sort != null" >
        AND SORT = #{sort,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="gridCode != null" >
        AND GRID_CODE = #{gridCode,jdbcType=VARCHAR}
      </if>
      <if test="numbers != null" >
        AND NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null" >
        AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="troubleName != null" >
        AND TROUBLE_NAME = #{troubleName,jdbcType=VARCHAR}
      </if>
      <if test="placeRange != null" >
        AND PLACE_RANGE = #{placeRange,jdbcType=VARCHAR}
      </if>
      <if test="securityPro != null" >
        AND SECURITY_PRO = #{securityPro,jdbcType=VARCHAR}
      </if>
      <if test="belongUnit != null" >
        AND BELONG_UNIT = #{belongUnit,jdbcType=VARCHAR}
      </if>
      <if test="unitName != null" >
        AND UNIT_NAME = #{unitName,jdbcType=VARCHAR}
      </if>
      <if test="unitJob != null" >
        AND UNIT_JOB = #{unitJob,jdbcType=VARCHAR}
      </if>
      <if test="unitPhone != null" >
        AND UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR}
      </if>
      <if test="adminName != null" >
        AND ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
      </if>
      <if test="adminJob != null" >
        AND ADMIN_JOB = #{adminJob,jdbcType=VARCHAR}
      </if>
      <if test="adminPhone != null" >
        AND ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR}
      </if>
      <if test="police != null" >
        AND POLICE = #{police,jdbcType=VARCHAR}
      </if>
      <if test="directorPhone != null" >
        AND DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR}
      </if>
      <if test="codeSuperiorsListing != null" >
        AND CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR}
      </if>
      <if test="remediationDate != null" >
        AND REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR}
      </if>
      <if test="remediationMeasure != null" >
        AND REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR}
      </if>
      <if test="remediationSituation != null" >
        AND REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR}
      </if>
      <if test="superiorsAccep != null" >
        AND SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND RMARK = #{rmark,jdbcType=VARCHAR}
      </if>
   		   </where>
   </select>
   
    <!-- 分页查询,所有实体对象集合  -->
   <select id="queryParamPage" parameterType="EventKeyPlace" resultMap="eKeyPlace">
   		   SELECT EVENT_KEY_PLACE.*,SSG.GRID_TOTAL_NAME 
		   FROM EVENT_KEY_PLACE LEFT JOIN SYS_SEAT_GRID SSG ON SSG.CODE = EVENT_KEY_PLACE.GRID_CODE
   		   <where>
   		      EVENT_KEY_PLACE.FLAG_DEL != 1
		      <if test="createDate != null" >
        AND EVENT_KEY_PLACE.CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND EVENT_KEY_PLACE.CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        AND EVENT_KEY_PLACE.REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="gridCode != null and gridCode!=''"  >
        AND EVENT_KEY_PLACE.GRID_CODE LIKE CONCAT(CONCAT('%',  #{gridCode,jdbcType=VARCHAR}),'%')
      </if>
      <if test="numbers != null" >
        AND EVENT_KEY_PLACE.NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null" >
        AND EVENT_KEY_PLACE.GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="troubleName != null and troubleName!=''" >
        AND EVENT_KEY_PLACE.TROUBLE_NAME LIKE CONCAT(CONCAT('%', #{troubleName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="placeRange != null" >
        AND EVENT_KEY_PLACE.PLACE_RANGE = #{placeRange,jdbcType=VARCHAR}
      </if>
      <if test="securityPro != null and securityPro!=''" >
        AND EVENT_KEY_PLACE.SECURITY_PRO LIKE CONCAT(CONCAT('%', #{securityPro,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="belongUnit != null and belongUnit!=''" >
        AND EVENT_KEY_PLACE.BELONG_UNIT LIKE CONCAT(CONCAT('%', #{belongUnit,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="unitName != null and unitName!=''" >
        AND EVENT_KEY_PLACE.UNIT_NAME LIKE CONCAT(CONCAT('%',#{unitName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="unitJob != null" >
        AND EVENT_KEY_PLACE.UNIT_JOB = #{unitJob,jdbcType=VARCHAR}
      </if>
      <if test="unitPhone != null" >
        AND EVENT_KEY_PLACE.UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR}
      </if>
      <if test="adminName != null and adminName!=''" >
        AND EVENT_KEY_PLACE.ADMIN_NAME LIKE CONCAT(CONCAT('%',  #{adminName,jdbcType=VARCHAR}),'%')
      </if>
      <if test="adminJob != null" >
        AND EVENT_KEY_PLACE.ADMIN_JOB = #{adminJob,jdbcType=VARCHAR}
      </if>
      <if test="adminPhone != null" >
        AND EVENT_KEY_PLACE.ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR}
      </if>
      <if test="police != null" >
        AND EVENT_KEY_PLACE.POLICE = #{police,jdbcType=VARCHAR}
      </if>
      <if test="directorPhone != null" >
        AND EVENT_KEY_PLACE.DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR}
      </if>
      <if test="codeSuperiorsListing != null" >
        AND EVENT_KEY_PLACE.CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR}
      </if>
      <if test="remediationDate != null" >
        AND EVENT_KEY_PLACE.REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR}
      </if>
      <if test="remediationMeasure != null" >
        AND EVENT_KEY_PLACE.REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR}
      </if>
      <if test="remediationSituation != null" >
        AND EVENT_KEY_PLACE.REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR}
      </if>
      <if test="superiorsAccep != null" >
        AND EVENT_KEY_PLACE.SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND EVENT_KEY_PLACE.POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND EVENT_KEY_PLACE.REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND EVENT_KEY_PLACE.RMARK = #{rmark,jdbcType=VARCHAR}
      </if>
   		   </where>
   </select>
    
   <!--  查询总记录数据  -->
   <select id="queryAllCount"  resultType="Integer">
   		SELECT COUNT(*) C FROM EVENT_KEY_PLACE WHERE FLAG_DEL != 1
   </select>
   
    <!--  查询总记录数据  -->
   <select id="queryAllCountParam" parameterType="EventKeyPlace" resultType="Integer">
   		<!-- <bind name="loginName" value="'%'+_parameter.loginName+'%'"/> -->
   		   SELECT COUNT(*) C FROM EVENT_KEY_PLACE  
   		   <where>
   		      FLAG_DEL != 1
		     <if test="createDate != null" >
        AND CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="flagDel != null" >
        AND FLAG_DEL = #{flagDel,jdbcType=CHAR}
      </if>
      <if test="flagDisplay != null" >
        AND FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR}
      </if>
      <if test="sort != null" >
        AND SORT = #{sort,jdbcType=DECIMAL}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="gridCode != null" >
        AND GRID_CODE = #{gridCode,jdbcType=VARCHAR}
      </if>
      <if test="numbers != null" >
        AND NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null" >
        AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="troubleName != null" >
        AND TROUBLE_NAME = #{troubleName,jdbcType=VARCHAR}
      </if>
      <if test="placeRange != null" >
        AND PLACE_RANGE = #{placeRange,jdbcType=VARCHAR}
      </if>
      <if test="securityPro != null" >
        AND SECURITY_PRO = #{securityPro,jdbcType=VARCHAR}
      </if>
      <if test="belongUnit != null" >
        AND BELONG_UNIT = #{belongUnit,jdbcType=VARCHAR}
      </if>
      <if test="unitName != null" >
        AND UNIT_NAME = #{unitName,jdbcType=VARCHAR}
      </if>
      <if test="unitJob != null" >
        AND UNIT_JOB = #{unitJob,jdbcType=VARCHAR}
      </if>
      <if test="unitPhone != null" >
        AND UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR}
      </if>
      <if test="adminName != null" >
        AND ADMIN_NAME = #{adminName,jdbcType=VARCHAR}
      </if>
      <if test="adminJob != null" >
        AND ADMIN_JOB = #{adminJob,jdbcType=VARCHAR}
      </if>
      <if test="adminPhone != null" >
        AND ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR}
      </if>
      <if test="police != null" >
        AND POLICE = #{police,jdbcType=VARCHAR}
      </if>
      <if test="directorPhone != null" >
        AND DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR}
      </if>
      <if test="codeSuperiorsListing != null" >
        AND CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR}
      </if>
      <if test="remediationDate != null" >
        AND REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR}
      </if>
      <if test="remediationMeasure != null" >
        AND REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR}
      </if>
      <if test="remediationSituation != null" >
        AND REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR}
      </if>
      <if test="superiorsAccep != null" >
        AND SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND RMARK = #{rmark,jdbcType=VARCHAR}
      </if>
   		   </where>
   </select>
    <select id="Charts" parameterType="BParts" resultMap="tempResult" >
	<if test="gridCode.length() ==2 ">
		SELECT COUNT(EVENT_KEY_PLACE.code) AS COUNTS , sys_seat_second.name AS NAME
		,sys_seat_second.code FROM EVENT_KEY_PLACE
		LEFT JOIN sys_seat_grid ON EVENT_KEY_PLACE.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		LEFT JOIN sys_seat_third ON
		sys_seat_four.parent_code=sys_seat_third.code
		LEFT JOIN sys_seat_second ON
		sys_seat_third.parent_code=sys_seat_second.code
		where 1=1
		and sys_seat_second.code  LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() ==5 ">
		SELECT COUNT(EVENT_KEY_PLACE.code) AS COUNTS , sys_seat_third.name AS NAME
		,sys_seat_third.code FROM EVENT_KEY_PLACE
		LEFT JOIN sys_seat_grid ON EVENT_KEY_PLACE.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		LEFT JOIN sys_seat_third ON
		sys_seat_four.parent_code=sys_seat_third.code
		where 1=1
		and sys_seat_third.code  LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() ==8 ">
		SELECT COUNT(EVENT_KEY_PLACE.code) AS COUNTS , sys_seat_four.name AS NAME
		,sys_seat_four.code FROM EVENT_KEY_PLACE
		LEFT JOIN sys_seat_grid ON EVENT_KEY_PLACE.grid_code=sys_seat_grid.code
		LEFT JOIN sys_seat_four ON sys_seat_grid.parent_code=sys_seat_four.code
		where 1=1
		and sys_seat_four.code LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>
	<if test="gridCode.length() >8 ">
		SELECT COUNT(EVENT_KEY_PLACE.code) AS COUNTS , sys_seat_grid.name AS NAME
		,sys_seat_grid.code FROM EVENT_KEY_PLACE
		LEFT JOIN sys_seat_grid ON EVENT_KEY_PLACE.grid_code=sys_seat_grid.code
		where 1=1
		and sys_seat_grid.code LIKE CONCAT(CONCAT('%', #{gridCode,jdbcType=VARCHAR}),'%')
	</if>

		    <if test="createDate != null" >
        AND CREATE_DATE = #{createDate,jdbcType=VARCHAR}
      </if>
      <if test="createBy != null" >
        AND CREATE_BY = #{createBy,jdbcType=VARCHAR}
      </if>
      <if test="remark != null" >
        AND REMARK = #{remark,jdbcType=VARCHAR}
      </if>
      <if test="numbers != null" >
        AND NUMBERS = #{numbers,jdbcType=VARCHAR}
      </if>
      <if test="gridNum != null" >
        AND GRID_NUM = #{gridNum,jdbcType=VARCHAR}
      </if>
      <if test="troubleName != null and troubleName!=''" >
        AND TROUBLE_NAME LIKE CONCAT(CONCAT('%', #{troubleName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="placeRange != null" >
        AND PLACE_RANGE = #{placeRange,jdbcType=VARCHAR}
      </if>
      <if test="securityPro != null and securityPro!=''" >
        AND SECURITY_PRO LIKE CONCAT(CONCAT('%', #{securityPro,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="belongUnit != null and belongUnit!=''" >
        AND BELONG_UNIT LIKE CONCAT(CONCAT('%', #{belongUnit,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="unitName != null and unitName!=''" >
        AND UNIT_NAME LIKE CONCAT(CONCAT('%',#{unitName,jdbcType=VARCHAR}),'%') 
      </if>
      <if test="unitJob != null" >
        AND UNIT_JOB = #{unitJob,jdbcType=VARCHAR}
      </if>
      <if test="unitPhone != null" >
        AND UNIT_PHONE = #{unitPhone,jdbcType=VARCHAR}
      </if>
      <if test="adminName != null and adminName!=''" >
        AND ADMIN_NAME LIKE CONCAT(CONCAT('%',  #{adminName,jdbcType=VARCHAR}),'%')
      </if>
      <if test="adminJob != null" >
        AND ADMIN_JOB = #{adminJob,jdbcType=VARCHAR}
      </if>
      <if test="adminPhone != null" >
        AND ADMIN_PHONE = #{adminPhone,jdbcType=VARCHAR}
      </if>
      <if test="police != null" >
        AND POLICE = #{police,jdbcType=VARCHAR}
      </if>
      <if test="directorPhone != null" >
        AND DIRECTOR_PHONE = #{directorPhone,jdbcType=VARCHAR}
      </if>
      <if test="codeSuperiorsListing != null" >
        AND CODE_SUPERIORS_LISTING = #{codeSuperiorsListing,jdbcType=VARCHAR}
      </if>
      <if test="remediationDate != null" >
        AND REMEDIATION_DATE = #{remediationDate,jdbcType=VARCHAR}
      </if>
      <if test="remediationMeasure != null" >
        AND REMEDIATION_MEASURE = #{remediationMeasure,jdbcType=VARCHAR}
      </if>
      <if test="remediationSituation != null" >
        AND REMEDIATION_SITUATION = #{remediationSituation,jdbcType=VARCHAR}
      </if>
      <if test="superiorsAccep != null" >
        AND SUPERIORS_ACCEP = #{superiorsAccep,jdbcType=VARCHAR}
      </if>
      <if test="position != null" >
        AND POSITION = #{position,jdbcType=VARCHAR}
      </if>
      <if test="registerDate != null" >
        AND REGISTER_DATE = #{registerDate,jdbcType=VARCHAR}
      </if>
      <if test="rmark != null" >
        AND RMARK = #{rmark,jdbcType=VARCHAR}
      </if>


 AND EVENT_KEY_PLACE.FLAG_DEL != 1
	<if test="gridCode.length() ==2 ">
	GROUP BY sys_seat_second.name ,sys_seat_second.code
	</if>
	<if test="gridCode.length() ==5 ">
		GROUP BY sys_seat_third.name ,sys_seat_third.code
	</if>
	<if test="gridCode.length() ==8 ">
		GROUP BY sys_seat_four.name ,sys_seat_four.code
	</if>
	<if test="gridCode.length() >8 ">
		GROUP BY sys_seat_grid.name ,sys_seat_grid.code
	</if>
   </select>
</mapper>
 