<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dykj.GSM.mapper.base.mapperinterf.BPerLiuDongMapper" >
  <resultMap id="perLiuDongResult" type="BPerLiuDong" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
   <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PERSON_CODE" property="personCode" jdbcType="VARCHAR" />
    <result column="CODE_INFLOW_REASON" property="codeInflowReason" jdbcType="VARCHAR" />
    <result column="CODE_ID_TYPE" property="codeIdType" jdbcType="VARCHAR" />
    <result column="CID" property="cid" jdbcType="VARCHAR" />
    <result column="REGIST_DATE" property="registDate" jdbcType="VARCHAR" />
    <result column="END_DATE" property="endDate" jdbcType="VARCHAR" />
    <result column="CODE_ZHU_SUO_TYPE" property="codeZhuSuoType" jdbcType="VARCHAR" />
    <result column="IS_GUAN_ZHU" property="isGuanZhu" jdbcType="CHAR" />
    <result column="GRID_TOTAL_NAME" property="gridTotalName" />
    
    <association property="person" javaType="com.dykj.GSM.model.base.BPerson">
     <result column="HOUSE_CODE" property="houseCode" jdbcType="VARCHAR" />
     <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="OTHER_NAME" property="otherName" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="PCID" property="cid" jdbcType="VARCHAR" />
    <result column="CODE_NATION" property="codeNation" jdbcType="VARCHAR" />
    <result column="NATIVE_PLACE_CODE" property="nativePlaceCode" jdbcType="VARCHAR" />
    <result column="CODE_MARRIAGE" property="codeMarriage" jdbcType="VARCHAR" />
    <result column="CODE_POLITICAL" property="codePolitical" jdbcType="VARCHAR" />
    <result column="CODE_EDUCATION" property="codeEducation" jdbcType="VARCHAR" />
    <result column="CODE_RELIGIOUS" property="codeReligious" jdbcType="VARCHAR" />
    <result column="CODE_JOB_TYPE" property="codeJobType" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="SERVER_ADDRESS" property="serverAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="RESIDENCE_ADDRESS_CODE" property="residenceAddressCode" jdbcType="VARCHAR" />
    <result column="RESIDENCE_DETAIL" property="residenceDetail" jdbcType="VARCHAR" />
    <result column="NOW_ADDRESS_CODE" property="nowAddressCode" jdbcType="VARCHAR" />
    <result column="NOW_ADDRESS_DETAIL" property="nowAddressDetail" jdbcType="VARCHAR" />
    <result column="CODE_HOUSEHOLD_STATUS" property="codeHouseholdStatus" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="CODE_MANAGE_TYPE" property="codeManageType" jdbcType="VARCHAR" />
    <result property="unitName" column="UNITNAME" />
	<result property="buildName" column="BUILDNAME" />
	<result property="houseNum" column="house_num"/>

    </association> 
    
    
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, CREATE_DATE, CREATE_BY, FLAG_DEL, FLAG_DISPLAY, SORT, REMARK, PERSON_CODE, 
    CODE_INFLOW_REASON, CODE_ID_TYPE, CID, REGIST_DATE, END_DATE, CODE_ZHU_SUO_TYPE, 
    IS_GUAN_ZHU
  </sql>
  <sql id="person_column" >
   	p.HOUSE_CODE, p.NAME, 
    p.OTHER_NAME, p.SEX, p.CID as pcid, p.CODE_NATION, p.NATIVE_PLACE_CODE, p.CODE_MARRIAGE, p.CODE_POLITICAL, 
    p.CODE_EDUCATION, p.CODE_RELIGIOUS, p.CODE_JOB_TYPE, p.JOB, p.SERVER_ADDRESS, p.PHONE, p.RESIDENCE_ADDRESS_CODE, 
    p.RESIDENCE_DETAIL, p.NOW_ADDRESS_CODE, p.NOW_ADDRESS_DETAIL, p.CODE_HOUSEHOLD_STATUS, p.IMG, p.CODE_MANAGE_TYPE
  </sql>
  <insert id="insert" parameterType="BPerLiuDong" >
   <selectKey keyProperty="code" resultType="String" order="BEFORE">
        SELECT SYS_GUID() FROM DUAL
      </selectKey>
    insert into B_PER_LIU_DONG (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
      REMARK, PERSON_CODE, CODE_INFLOW_REASON, 
      CODE_ID_TYPE, CID, REGIST_DATE, 
      END_DATE, CODE_ZHU_SUO_TYPE, IS_GUAN_ZHU
      )
    values (#{code,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{flagDel,jdbcType=CHAR}, #{flagDisplay,jdbcType=CHAR}, #{sort,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, #{codeInflowReason,jdbcType=VARCHAR}, 
      #{codeIdType,jdbcType=VARCHAR}, #{cid,jdbcType=VARCHAR}, #{registDate,jdbcType=VARCHAR}, 
      #{endDate,jdbcType=VARCHAR}, #{codeZhuSuoType,jdbcType=VARCHAR}, #{isGuanZhu,jdbcType=CHAR}
      )
  </insert>
  
  <update id="update" parameterType="BPerLiuDong" >
    update B_PER_LIU_DONG
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personCode != null" >
        PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="codeInflowReason != null" >
        CODE_INFLOW_REASON = #{codeInflowReason,jdbcType=VARCHAR},
      </if>
      <if test="codeIdType != null" >
        CODE_ID_TYPE = #{codeIdType,jdbcType=VARCHAR},
      </if>
      <if test="cid != null" >
        CID = #{cid,jdbcType=VARCHAR},
      </if>
      <if test="registDate != null" >
        REGIST_DATE = #{registDate,jdbcType=VARCHAR},
      </if>
      <if test="endDate != null" >
        END_DATE = #{endDate,jdbcType=VARCHAR},
      </if>
      <if test="codeZhuSuoType != null" >
        CODE_ZHU_SUO_TYPE = #{codeZhuSuoType,jdbcType=VARCHAR},
      </if>
      <if test="isGuanZhu != null" >
        IS_GUAN_ZHU = #{isGuanZhu,jdbcType=CHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <!-- 删除一条信息 -->
   <update id="deletePk" parameterType="String">
       UPDATE B_PER_LIU_DONG SET FLAG_DEL=1 WHERE CODE=#{code}
   </update>
   <update id="deleteByPersonCode" parameterType="String">
       UPDATE B_PER_LIU_DONG SET FLAG_DEL=1 WHERE person_code=#{personCode}
   </update>
     <!-- 根据主键查询实体对象  -->
    <select id="queryByKey" parameterType="String" resultMap="perLiuDongResult">
        SELECT h.* FROM B_PER_LIU_DONG h
                WHERE h.FLAG_DEL != 1 AND h.CODE=#{code}
    </select>
      <!-- 根据基本信息code查询流动人员的信息  -->
    <select id="queryByPersonCode" parameterType="String" resultMap="perLiuDongResult">
        SELECT h.* FROM B_PER_LIU_DONG h
        WHERE h.FLAG_DEL != 1 AND h.person_code=#{personCode}
    </select>
    
     <select id="queryMapParamPage" parameterType="java.util.Map" resultMap="perLiuDongResult">
  SELECT hu.* , <include refid="person_column"/>,b.build_name as buildName,u.name as unitName,h.house_num ,grid.grid_total_name 
  FROM  B_PER_LIU_DONG hu 
  		join B_PERSON p on hu.person_code=p.code and hu.flag_del=0
        join b_house h on h.code=p.house_code and h.flag_del=0
        join B_unit u on u.code=h.unit_code and u.flag_del=0
        join B_Building b on u.build_code=b.code and b.flag_del=0 
        join sys_seat_grid grid on grid.code=b.grid_code and grid.flag_del=0 WHERE p.FLAG_DEL != 1 and p.grid_code like CONCAT( #{gridCode,jdbcType=VARCHAR},'%')
	 <if test="houseCode != null and houseCode != ''">
	  and h.code=#{houseCode}
	 </if>
  	<if test="gridCode != null and gridCode != ''">
	  and grid.code like '%'||#{gridCode,jdbcType=VARCHAR}||'%'
	 </if>
	 <if test="name != null and name != ''">
	  and p.name like '%'||#{name,jdbcType=VARCHAR}||'%'
	 </if>
	 <if test="unitName != null and unitName != ''">
		AND u.NAME like '%'||#{unitName,jdbcType=VARCHAR}||'%'
	</if>
	<if test="buildName != null and buildName != ''">
		AND b.BUILD_NAME like '%'||#{buildName,jdbcType=VARCHAR}||'%'
	</if>
	<if test="houseNum != null and houseNum != ''">
		AND h.HOUSE_NUM like '%'||#{houseNum,jdbcType=VARCHAR}||'%'
	</if>
	
	<if test="cid != null and cid != ''">
		AND p.CID like '%'||#{cid,jdbcType=VARCHAR}||'%'
	</if>
		<if test="sex != null and sex != ''">
		AND p.sex =#{sex,jdbcType=VARCHAR}
	</if>
	<if test="isGuanZhu != null and isGuanZhu != ''">
		AND hu.IS_GUAN_ZHU =#{isGuanZhu,jdbcType=VARCHAR}
	</if>
	
	<if test="codeInflowReason != null and codeInflowReason.size()>0 ">
		and (
		<foreach collection="codeInflowReason" item="s" index="index" separator=" or ">
		   hu.CODE_INFLOW_REASON =#{s,jdbcType=VARCHAR}
		</foreach>
		)
	</if>
	<if test="codeHouseholdStatus != null and codeHouseholdStatus.size()>0 ">
		and (
		<foreach collection="codeHouseholdStatus" item="s" index="index" separator=" or ">
		   p.CODE_HOUSEHOLD_STATUS =#{s,jdbcType=VARCHAR}
		</foreach>
		)
	</if>
</select>
</mapper>