<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dykj.GSM.mapper.base.mapperinterf.BPerQingShaoNianMapper" >
  <resultMap id="perQingShaoNianResult" type="BPerQingShaoNian" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
   <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="PERSON_CODE" property="personCode" jdbcType="VARCHAR" />
    <result column="CODE_QSN_TYPE" property="codeQsnType" jdbcType="VARCHAR" />
    <result column="CODE_JIA_TING_SITUATION" property="codeJiaTingSituation" jdbcType="VARCHAR" />
    <result column="JIAN_HU_CID" property="jianHuCid" jdbcType="VARCHAR" />
    <result column="JIAN_HU_NAME" property="jianHuName" jdbcType="VARCHAR" />
    <result column="CODE_JIAN_HU_RELATION" property="codeJianHuRelation" jdbcType="VARCHAR" />
    <result column="JIAN_HU_PHONE" property="jianHuPhone" jdbcType="VARCHAR" />
    <result column="JIAN_HU_ADDRESS" property="jianHuAddress" jdbcType="VARCHAR" />
    <result column="IS_FAN_ZUI" property="isFanZui" jdbcType="CHAR" />
    <result column="FAN_ZUI_REMARK" property="fanZuiRemark" jdbcType="VARCHAR" />
    <result column="BANG_FU_NAME" property="bangFuName" jdbcType="VARCHAR" />
    <result column="BANG_FU_PHONE" property="bangFuPhone" jdbcType="VARCHAR" />
    <result column="CODE_BANG_FU_TYPE" property="codeBangFuType" jdbcType="VARCHAR" />
    <result column="BANG_FU_REMARK" property="bangFuRemark" jdbcType="VARCHAR" />
    <result column="GRID_TOTAL_NAME" property="gridTotalName" />
    
    <association property="person" javaType="com.dykj.GSM.model.base.BPerson">
     <result column="HOUSE_CODE" property="houseCode" jdbcType="VARCHAR" />
     <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="OTHER_NAME" property="otherName" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="PCID" property="cid" jdbcType="VARCHAR" />
    <result column="CODE_NATION" property="codeNation" jdbcType="VARCHAR" />
    <result column="NATIVE_PLACE_CODE" property="nativePlaceCode" jdbcType="VARCHAR" />
    <result column="CODE_MARRIAGE" property="codeMarriage" jdbcType="VARCHAR" />
    <result column="CODE_POLITICAL" property="codePolitical" jdbcType="VARCHAR" />
    <result column="CODE_EDUCATION" property="codeEducation" jdbcType="VARCHAR" />
    <result column="CODE_RELIGIOUS" property="codeReligious" jdbcType="VARCHAR" />
    <result column="CODE_JOB_TYPE" property="codeJobType" jdbcType="VARCHAR" />
    <result column="JOB" property="job" jdbcType="VARCHAR" />
    <result column="SERVER_ADDRESS" property="serverAddress" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="RESIDENCE_ADDRESS_CODE" property="residenceAddressCode" jdbcType="VARCHAR" />
    <result column="RESIDENCE_DETAIL" property="residenceDetail" jdbcType="VARCHAR" />
    <result column="NOW_ADDRESS_CODE" property="nowAddressCode" jdbcType="VARCHAR" />
    <result column="NOW_ADDRESS_DETAIL" property="nowAddressDetail" jdbcType="VARCHAR" />
    <result column="CODE_HOUSEHOLD_STATUS" property="codeHouseholdStatus" jdbcType="VARCHAR" />
    <result column="IMG" property="img" jdbcType="VARCHAR" />
    <result column="CODE_MANAGE_TYPE" property="codeManageType" jdbcType="VARCHAR" />
    <result property="unitName" column="UNITNAME" />
	<result property="buildName" column="BUILDNAME" />
	<result property="houseNum" column="house_num"/>

    </association> 
    
    
    
  </resultMap>
  <sql id="Base_Column_List" >
   CODE, CREATE_DATE, CREATE_BY, FLAG_DEL, FLAG_DISPLAY, SORT, REMARK, PERSON_CODE, 
    CODE_QSN_TYPE, CODE_JIA_TING_SITUATION, JIAN_HU_CID, JIAN_HU_NAME, CODE_JIAN_HU_RELATION, 
    JIAN_HU_PHONE, JIAN_HU_ADDRESS, IS_FAN_ZUI, FAN_ZUI_REMARK, BANG_FU_NAME, BANG_FU_PHONE, 
    CODE_BANG_FU_TYPE, BANG_FU_REMARK
  </sql>
  <sql id="person_column" >
   	p.HOUSE_CODE, p.NAME, 
    p.OTHER_NAME, p.SEX, p.CID as pcid, p.CODE_NATION, p.NATIVE_PLACE_CODE, p.CODE_MARRIAGE, p.CODE_POLITICAL, 
    p.CODE_EDUCATION, p.CODE_RELIGIOUS, p.CODE_JOB_TYPE, p.JOB, p.SERVER_ADDRESS, p.PHONE, p.RESIDENCE_ADDRESS_CODE, 
    p.RESIDENCE_DETAIL, p.NOW_ADDRESS_CODE, p.NOW_ADDRESS_DETAIL, p.CODE_HOUSEHOLD_STATUS, p.IMG, p.CODE_MANAGE_TYPE
  </sql>
  <insert id="insert" parameterType="BPerQingShaoNian" >
   <selectKey keyProperty="code" resultType="String" order="BEFORE">
        SELECT SYS_GUID() FROM DUAL
      </selectKey>
    insert into B_PER_QING_SHAO_NIAN (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
      REMARK, PERSON_CODE, CODE_QSN_TYPE, 
      CODE_JIA_TING_SITUATION, JIAN_HU_CID, JIAN_HU_NAME, 
      CODE_JIAN_HU_RELATION, JIAN_HU_PHONE, JIAN_HU_ADDRESS, 
      IS_FAN_ZUI, FAN_ZUI_REMARK, BANG_FU_NAME, 
      BANG_FU_PHONE, CODE_BANG_FU_TYPE, BANG_FU_REMARK
      )
    values (#{code,jdbcType=VARCHAR}, #{createDate,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{flagDel,jdbcType=CHAR}, #{flagDisplay,jdbcType=CHAR}, #{sort,jdbcType=DECIMAL}, 
      #{remark,jdbcType=VARCHAR}, #{personCode,jdbcType=VARCHAR}, #{codeQsnType,jdbcType=VARCHAR}, 
      #{codeJiaTingSituation,jdbcType=VARCHAR}, #{jianHuCid,jdbcType=VARCHAR}, #{jianHuName,jdbcType=VARCHAR}, 
      #{codeJianHuRelation,jdbcType=VARCHAR}, #{jianHuPhone,jdbcType=VARCHAR}, #{jianHuAddress,jdbcType=VARCHAR}, 
      #{isFanZui,jdbcType=CHAR}, #{fanZuiRemark,jdbcType=VARCHAR}, #{bangFuName,jdbcType=VARCHAR}, 
      #{bangFuPhone,jdbcType=VARCHAR}, #{codeBangFuType,jdbcType=VARCHAR}, #{bangFuRemark,jdbcType=VARCHAR}
      )
  </insert>
  
  <update id="update" parameterType="BPerQingShaoNian" >
     update B_PER_QING_SHAO_NIAN
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="flagDel != null" >
        FLAG_DEL = #{flagDel,jdbcType=CHAR},
      </if>
      <if test="flagDisplay != null" >
        FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="personCode != null" >
        PERSON_CODE = #{personCode,jdbcType=VARCHAR},
      </if>
      <if test="codeQsnType != null" >
        CODE_QSN_TYPE = #{codeQsnType,jdbcType=VARCHAR},
      </if>
      <if test="codeJiaTingSituation != null" >
        CODE_JIA_TING_SITUATION = #{codeJiaTingSituation,jdbcType=VARCHAR},
      </if>
      <if test="jianHuCid != null" >
        JIAN_HU_CID = #{jianHuCid,jdbcType=VARCHAR},
      </if>
      <if test="jianHuName != null" >
        JIAN_HU_NAME = #{jianHuName,jdbcType=VARCHAR},
      </if>
      <if test="codeJianHuRelation != null" >
        CODE_JIAN_HU_RELATION = #{codeJianHuRelation,jdbcType=VARCHAR},
      </if>
      <if test="jianHuPhone != null" >
        JIAN_HU_PHONE = #{jianHuPhone,jdbcType=VARCHAR},
      </if>
      <if test="jianHuAddress != null" >
        JIAN_HU_ADDRESS = #{jianHuAddress,jdbcType=VARCHAR},
      </if>
      <if test="isFanZui != null" >
        IS_FAN_ZUI = #{isFanZui,jdbcType=CHAR},
      </if>
      <if test="fanZuiRemark != null" >
        FAN_ZUI_REMARK = #{fanZuiRemark,jdbcType=VARCHAR},
      </if>
      <if test="bangFuName != null" >
        BANG_FU_NAME = #{bangFuName,jdbcType=VARCHAR},
      </if>
      <if test="bangFuPhone != null" >
        BANG_FU_PHONE = #{bangFuPhone,jdbcType=VARCHAR},
      </if>
      <if test="codeBangFuType != null" >
        CODE_BANG_FU_TYPE = #{codeBangFuType,jdbcType=VARCHAR},
      </if>
      <if test="bangFuRemark != null" >
        BANG_FU_REMARK = #{bangFuRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <!-- 删除一条信息 -->
   <update id="deletePk" parameterType="String">
       UPDATE B_PER_QING_SHAO_NIAN SET FLAG_DEL=1 WHERE CODE=#{code}
   </update>
   <update id="deleteByPersonCode" parameterType="String">
       UPDATE B_PER_QING_SHAO_NIAN SET FLAG_DEL=1 WHERE person_code=#{personCode}
   </update>
     <!-- 根据主键查询实体对象  -->
    <select id="queryByKey" parameterType="String" resultMap="perQingShaoNianResult">
        SELECT h.* FROM B_PER_QING_SHAO_NIAN h
                WHERE h.FLAG_DEL != 1 AND h.CODE=#{code}
    </select>
      <!-- 根据基本信息code查询流动人员的信息  -->
    <select id="queryByPersonCode" parameterType="String" resultMap="perQingShaoNianResult">
        SELECT h.* FROM B_PER_QING_SHAO_NIAN h
        WHERE h.FLAG_DEL != 1 AND h.person_code=#{personCode}
    </select>
      <select id="queryMapParamPage" parameterType="java.util.Map" resultMap="perQingShaoNianResult">
  SELECT hu.* , <include refid="person_column"/>,b.build_name as buildName,u.name as unitName,h.house_num ,grid.grid_total_name 
  FROM  B_PER_QING_SHAO_NIAN hu 
  		join B_PERSON p on hu.person_code=p.code and hu.flag_del=0
        join b_house h on h.code=p.house_code and h.flag_del=0
        join B_unit u on u.code=h.unit_code and u.flag_del=0
        join B_Building b on u.build_code=b.code and b.flag_del=0 
        join sys_seat_grid grid on grid.code=b.grid_code and grid.flag_del=0 WHERE p.FLAG_DEL != 1 and p.grid_code like CONCAT( #{gridCode,jdbcType=VARCHAR},'%')
	 <if test="houseCode != null and houseCode != ''">
	  and h.code=#{houseCode}
	 </if>
  	<if test="gridCode != null and gridCode != ''">
	  and grid.code like '%'||#{gridCode,jdbcType=VARCHAR}||'%'
	 </if>
	 <if test="name != null and name != ''">
	  and p.name like '%'||#{name,jdbcType=VARCHAR}||'%'
	 </if>
	 <if test="unitName != null and unitName != ''">
		AND u.NAME like '%'||#{unitName,jdbcType=VARCHAR}||'%'
	</if>
	<if test="buildName != null and buildName != ''">
		AND b.BUILD_NAME like '%'||#{buildName,jdbcType=VARCHAR}||'%'
	</if>
	<if test="houseNum != null and houseNum != ''">
		AND h.HOUSE_NUM like '%'||#{houseNum,jdbcType=VARCHAR}||'%'
	</if>
	
	<if test="cid != null and cid != ''">
		AND p.CID like '%'||#{cid,jdbcType=VARCHAR}||'%'
	</if>
		<if test="sex != null and sex != ''">
		AND p.sex =#{sex,jdbcType=VARCHAR}
	</if>
	
	<if test="isRenHuYiZhi != null and isRenHuYiZhi != ''">
		AND hu.IS_REN_HU_YI_ZHI =#{isRenHuYiZhi,jdbcType=VARCHAR}
	</if>
	<if test="codeQsnType != null and codeQsnType.size()>0 ">
		and (
		<foreach collection="codeQsnType" item="s" index="index" separator=" or ">
		   hu.CODE_QSN_TYPE =#{s,jdbcType=VARCHAR}
		</foreach>
		)
	</if>
	<if test="codeJiaTingSituation != null and codeJiaTingSituation.size()>0 ">
		and (
		<foreach collection="codeJiaTingSituation" item="s" index="index" separator=" or ">
		   hu.CODE_JIA_TING_SITUATION =#{s,jdbcType=VARCHAR}
		</foreach>
		)
	</if>
</select>
</mapper>