<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dykj.GSM.mapper.eva.mapperinterf.AppraiseDepartmentMapper" >
  <resultMap id="appraiseDepartmentResult" type="AppraiseDepartment" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="GRID_CODE" property="gridCode" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="DECIMAL" />
    <result column="MONTH" property="month" jdbcType="DECIMAL" />
    <result column="CONTRADICT_SCORE" property="contradictScore" jdbcType="DECIMAL" />
    <result column="EVENT_SCORE" property="eventScore" jdbcType="DECIMAL" />
    <result column="MANYI_KOUFEN_CONTRADICT" property="manyiKoufenContradict" jdbcType="DECIMAL" />
    <result column="MANYI_KOUFEN_EVENT" property="manyiKoufenEvent" jdbcType="DECIMAL" />
    <result column="DUBAN_KOUFEN_CONTRADICT" property="dubanKoufenContradict" jdbcType="DECIMAL" />
    <result column="DUBAN_KOUFEN_EVENT" property="dubanKoufenEvent" jdbcType="DECIMAL" />
    <result column="LATE_KOUFEN_CONTRADICT" property="lateKoufenContradict" jdbcType="DECIMAL" />
    <result column="LATE_KOUFEN_EVENT" property="lateKoufenEvent" jdbcType="DECIMAL" />
    <result column="GONG_SHI_CONTRADICT" property="gongShiContradict" jdbcType="VARCHAR" />
    <result column="GONG_SHI_EVENT" property="gongShiEvent" jdbcType="VARCHAR" />
    <result column="grid_total_name" property="gridTotalName"/>
  </resultMap>
 <sql id="Base_Column_List">
    APPRAISE_DEPARTMENT.CODE,APPRAISE_DEPARTMENT.CREATE_DATE,APPRAISE_DEPARTMENT.CREATE_BY,APPRAISE_DEPARTMENT.FLAG_DEL,APPRAISE_DEPARTMENT.FLAG_DISPLAY,APPRAISE_DEPARTMENT.SORT,APPRAISE_DEPARTMENT.REMARK,APPRAISE_DEPARTMENT.GRID_CODE,APPRAISE_DEPARTMENT.YEAR,
    APPRAISE_DEPARTMENT.MONTH,APPRAISE_DEPARTMENT.CONTRADICT_SCORE,APPRAISE_DEPARTMENT.EVENT_SCORE,APPRAISE_DEPARTMENT.MANYI_KOUFEN_CONTRADICT,APPRAISE_DEPARTMENT.MANYI_KOUFEN_EVENT,
    APPRAISE_DEPARTMENT.DUBAN_KOUFEN_CONTRADICT,APPRAISE_DEPARTMENT.DUBAN_KOUFEN_EVENT,APPRAISE_DEPARTMENT.LATE_KOUFEN_CONTRADICT,APPRAISE_DEPARTMENT.LATE_KOUFEN_EVENT,
    APPRAISE_DEPARTMENT.GONG_SHI_CONTRADICT,APPRAISE_DEPARTMENT.GONG_SHI_EVENT
  </sql>

 <insert id="insertBySelect" parameterType="java.util.Map" >
    insert into APPRAISE_DEPARTMENT (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
       YEAR, MONTH, 
      GRID_CODE
      ,CONTRADICT_SCORE,MANYI_KOUFEN_CONTRADICT
      ,DUBAN_KOUFEN_CONTRADICT,LATE_KOUFEN_CONTRADICT,GONG_SHI_CONTRADICT
     ,EVENT_SCORE,MANYI_KOUFEN_EVENT
     ,DUBAN_KOUFEN_EVENT,LATE_KOUFEN_EVENT,GONG_SHI_EVENT
      )
   select SYS_GUID(), '${createDate}', '${createBy}', 
      0, 0, 0,
      ${year},${month}, 
      a.code,case when a.contradictScore&lt;0 then 0 else a.contradictScore end as contradictScore,a.manyi
      ,a.duban,a.late,a.gongshiContradict
     ,case when b.eventScore&lt;0 then 0 else b.eventScore end as eventScore,b.manyi
      ,b.duban,b.late,b.gongshiEvent
from
(SELECT g.code as code,
  (count(unique h.id)+count(unique c.id))*${evaSet.lateKoufenContradict} as late,
  count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)*${evaSet.dubanKoufenContradict} as duban,
  count(unique p.code)*${evaSet.manyiKoufenContradict} as manyi,
  ${evaSet.basescoreContradict}-(count(unique h.id)+count(unique c.id))*${evaSet.lateKoufenContradict}-count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)*${evaSet.dubanKoufenContradict}-count(unique p.code)*${evaSet.manyiKoufenContradict} as contradictScore ,
  ${evaSet.basescoreContradict}||'-'||(count(unique h.id)+count(unique c.id))||'*'||${evaSet.lateKoufenContradict}||'-'||count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)||'*'||${evaSet.dubanKoufenContradict}||'-'||count(unique p.code)||'*'||${evaSet.manyiKoufenContradict} as gongshiContradict
FROM
  (SELECT code
  FROM SYS_SEAT_SECOND s
  WHERE s.FLAG_DEL     =0
  AND s.FLAG_DEPARTMENT=1
  UNION ALL
  SELECT code
  FROM SYS_SEAT_THIRD t
  WHERE t.FLAG_DEL     =0
  AND t.FLAG_DEPARTMENT=1
  )g left join --从已经办理的步骤里找晚办的
( select h.id, case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
from os_historystep h 
  join os_wfentry e on e.name='EContradict' and h.entry_id=e.id
   left join sys_user u 
   on h.owner =u.code||'#1' 
   and h.step_id=#{buMenBanLiStepContradict}
   and h.action_id=#{shenQingJieAnActionContradict} 
   where
     h.FINISH_DATE&gt;h.due_date
   and to_char(h.due_date,'yyyymm')=#{year}||#{month2})  h on h.OWNER like g.code||'#2'
  left join --从现在的步骤里找亮红灯的
  (select h.id,case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
  from os_currentstep h 
   join os_wfentry e on e.name='EContradict' and h.entry_id=e.id
   left join sys_user u 
   on h.owner =u.code||'#1' 
   and h.step_id=#{buMenBanLiStepContradict}
  where to_date(#{createDate},'yyyy-MM-dd HH24:mi:ss')&gt;h.due_date 
  and to_char(h.due_date,'yyyymm')=#{year}||#{month2}
  ) c on c.owner like g.code||'#2'
  --下面的是督办的
  left join ( select h.id, h.entry_id, case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
  from os_historystep h 
  join os_wfentry e 
  on e.name='EContradict' and h.entry_id=e.id and  h.step_id=#{buMenBanLiStepContradict}
   and h.action_id=#{shenQingJieAnActionContradict} 
   and to_char(h.finish_date,'yyyymm')=#{year}||#{month2}
   left join sys_user u 
   on h.owner =u.code||'#1'
   join os_historystep hi 
  ON e.name     ='EContradict'
  AND hi.entry_id=e.id
  --督办
  AND hi.action_id  =#{duBanActionContradict}
  AND TO_CHAR(hi.finish_date,'yyyymm')=#{year}||#{month2}
and hi.finish_date&gt;h.finish_date 
   ) h2 on h2.OWNER like g.code||'#2'
  left join e_contradict c2 on c2.wf_entry=h2.entry_id and c2.IS_DU_BAN=1 and c2.flag_del=0
  --下面是满意度
  left join 
  (SELECT hi.id,
      hi.entry_id,
      hi.finish_date,
      CASE
        WHEN u.code IS NOT NULL
        THEN u.department_code
          ||'#2'
        ELSE h.owner
      END AS owner
    FROM os_historystep h
    JOIN os_wfentry e
    ON e.name     ='EContradict'
    AND h.entry_id=e.id
   and h.step_id=#{buMenBanLiStepContradict}
   and h.action_id=#{shenQingJieAnActionContradict} 
    AND TO_CHAR(h.finish_date,'yyyymm')=#{year}||#{month2}
    LEFT JOIN sys_user u
    ON h.owner =u.code||'#1'
   JOIN os_historystep hi
    ON e.name      ='EContradict'
    AND hi.entry_id=e.id
      --上报人验收
    AND hi.action_id                    =#{yanShouActionContradict}
    AND TO_CHAR(hi.finish_date,'yyyymm')=#{year}||#{month2}
    AND hi.finish_date>h.finish_date) h3 on h3.owner=g.code||'#2'
 left join  e_contradict c3
  ON c3.wf_entry =h3.entry_id
  AND c3.flag_del=0
  left JOIN e_opinion p
  ON p.entry_id   =h3.entry_id
  and p.create_date=to_char(h3.finish_date,'yyyy-MM-dd hh24:mi:ss')
  AND p.code_appraise=#{buManYiCodeAppraise}
  where g.code like #{gridCode}||'%' 
  group by g.code) a
  --以下是事件的
  
  left join 
  (SELECT g.code as code,
  (count(unique h.id)+count(unique c.id))*${evaSet.lateKoufenEvent} as late,
  count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)*${evaSet.dubanKoufenEvent} as duban,
  count(unique p.code)*${evaSet.manyiKoufenEvent} as manyi,
  ${evaSet.basescoreEvent}-(count(unique h.id)+count(unique c.id))*${evaSet.lateKoufenEvent}-count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)*${evaSet.dubanKoufenEvent}-count(unique p.code)*${evaSet.manyiKoufenEvent} as eventScore ,
  ${evaSet.basescoreEvent}||'-'||(count(unique h.id)+count(unique c.id))||'*'||${evaSet.lateKoufenEvent}||'-'||count(UNIQUE case when c2.wf_entry is not null then h2.id else null end)||'*'||${evaSet.dubanKoufenEvent}||'-'||count(unique p.code)||'*'||${evaSet.manyiKoufenEvent} as gongshiEvent
FROM
  (SELECT code
  FROM SYS_SEAT_SECOND s
  WHERE s.FLAG_DEL     =0
  AND s.FLAG_DEPARTMENT=1
  UNION ALL
  SELECT code
  FROM SYS_SEAT_THIRD t
  WHERE t.FLAG_DEL     =0
  AND t.FLAG_DEPARTMENT=1
  )g left join --从已经办理的步骤里找晚办的
( select h.id, case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
from os_historystep h 
 join os_wfentry e on e.name='EEvent' and h.entry_id=e.id
   left join sys_user u 
   on h.owner =u.code||'#1' 
   and h.step_id=#{buMenBanLiStepEvent}
   and h.action_id=#{shenQingJieAnActionEvent} 
   where
     h.FINISH_DATE&gt;h.due_date
   and to_char(h.due_date,'yyyymm')=#{year}||#{month2}) h on h.OWNER like g.code||'#2'
  left join --从现在的步骤里找亮红灯的 
  (select h.id, case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
  from os_currentstep h 
   join os_wfentry e on e.name='EEvent' and h.entry_id=e.id
   left join sys_user u 
   on h.owner =u.code||'#1' 
   and h.step_id=#{buMenBanLiStepEvent}
  where to_date(#{createDate},'yyyy-MM-dd HH24:mi:ss')&gt;h.due_date 
  and to_char(h.due_date,'yyyymm')=#{year}||#{month2}
  ) c on c.owner like g.code||'#2' 
  --下面的是督办的
  left join ( select h.id,h.entry_id, case when u.code is not null then u.department_code||'#2' else h.owner end as owner 
  from os_historystep h 
   join os_wfentry e on e.name='EEvent' and h.entry_id=e.id 
   and h.step_id=#{buMenBanLiStepEvent}
   and h.action_id=#{shenQingJieAnActionEvent} 
   and to_char(h.finish_date,'yyyymm')=#{year}||#{month2}
   left join sys_user u 
   on h.owner =u.code||'#1' 
   join os_historystep hi 
  ON e.name     ='EEvent'
  AND hi.entry_id=e.id
  --督办
  AND hi.action_id                    =#{duBanActionEvent}
  AND TO_CHAR(hi.finish_date,'yyyymm')=#{year}||#{month2}
and hi.finish_date&gt;h.finish_date
   ) h2 on h2.OWNER like g.code||'#2' 
  left join e_event c2 on c2.wf_entry=h2.entry_id and c2.IS_DU_BAN=1 and c2.flag_del=0
 --下面是满意度
  
  left join 
  (SELECT hi.id,
      hi.entry_id,
      hi.finish_date,
      CASE
        WHEN u.code IS NOT NULL
        THEN u.department_code
          ||'#2'
        ELSE h.owner
      END AS owner
    FROM os_historystep h
    JOIN os_wfentry e
    ON e.name     ='EEvent'
    AND h.entry_id=e.id
   and h.step_id=#{buMenBanLiStepEvent}
   and h.action_id=#{shenQingJieAnActionEvent} 
    AND TO_CHAR(h.finish_date,'yyyymm')=#{year}||#{month2}
    LEFT JOIN sys_user u
    ON h.owner =u.code||'#1'
   JOIN os_historystep hi
    ON e.name      ='EEvent'
    AND hi.entry_id=e.id
      --上报人验收
    AND hi.action_id                    =#{yanShouActionEvent}
    AND TO_CHAR(hi.finish_date,'yyyymm')=#{year}||#{month2}
    AND hi.finish_date>h.finish_date) h3 on h3.owner=g.code||'#2'
 left join  e_event c3
  ON c3.wf_entry =h3.entry_id
  AND c3.flag_del=0
  left JOIN e_opinion p
  ON p.entry_id   =h3.entry_id
  and p.create_date=to_char(h3.finish_date,'yyyy-MM-dd hh24:mi:ss')
  AND p.code_appraise=#{buManYiCodeAppraise}
  where g.code like #{gridCode}||'%' 
  group by g.code) b on a.code=b.code
 </insert>


   <!--根据年月删除-->
    <update id="deleteByYearAndMonth" parameterType="java.util.Map">
       UPDATE APPRAISE_DEPARTMENT SET FLAG_DEL=1 WHERE year=#{year} and month=#{month} and grid_code like #{gridCode}||'%'
   </update> 
  <!-- 批量删除(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能
    <update id="deleteBatch">
       UPDATE APPRAISE_DEPARTMENT SET FLAG_DEL=1,createDate=sysdate WHERE CODE IN 
       <trim prefix="(" suffix=")" suffixOverrides=",">
          <foreach collection="list" item="code" separator=",">
	          #{code}
          </foreach>
       </trim>
    </update>
     根据主键查询实体对象--> 
    <select id="queryByKey" parameterType="String" resultMap="appraiseDepartmentResult">
        SELECT h.*,g.grid_total_name as gridTotalName FROM APPRAISE_DEPARTMENT h join sys_seat_third g on g.code=h.grid_code and g.flag_del=0
                WHERE h.FLAG_DEL != 1 AND h.CODE=#{code}
    </select>
    <select id="queryByMapPage" parameterType="java.util.Map" resultMap="appraiseDepartmentResult">
    select <include refid="Base_Column_List"></include>
    ,g.grid_total_name as GRID_TOTAL_NAME 
    from APPRAISE_DEPARTMENT APPRAISE_DEPARTMENT join sys_seat_third g on g.code=APPRAISE_DEPARTMENT.grid_code and g.flag_del=0
    where APPRAISE_DEPARTMENT.flag_del=0 and APPRAISE_DEPARTMENT.year=#{year} and APPRAISE_DEPARTMENT.month=#{month} and APPRAISE_DEPARTMENT.grid_Code like #{gridCode}||'%'
    </select> 
    
     <!-- 统计 -->
    <select id="queryStatisticsPage" parameterType="java.util.Map" resultMap="appraiseDepartmentResult">
	   SELECT APPRAISE_DEPARTMENT.grid_code,
    round(avg(APPRAISE_DEPARTMENT.CONTRADICT_SCORE),2)        AS CONTRADICT_SCORE,
    round(avg(APPRAISE_DEPARTMENT.event_score),2)             AS event_score,
    round(avg(APPRAISE_DEPARTMENT.MANYI_KOUFEN_CONTRADICT),2) AS MANYI_KOUFEN_CONTRADICT,
    round(avg(APPRAISE_DEPARTMENT.MANYI_KOUFEN_event),2) AS MANYI_KOUFEN_event,
    round(avg(APPRAISE_DEPARTMENT.late_KOUFEN_CONTRADICT),2) AS late_KOUFEN_CONTRADICT,
    round(avg(APPRAISE_DEPARTMENT.late_KOUFEN_event),2) AS late_KOUFEN_event,
    round(avg(APPRAISE_DEPARTMENT.DUBAN_KOUFEN_CONTRADICT),2) AS DUBAN_KOUFEN_CONTRADICT,
     round(avg(APPRAISE_DEPARTMENT.DUBAN_KOUFEN_event),2) AS DUBAN_KOUFEN_event,
    g.grid_total_name
	  FROM APPRAISE_DEPARTMENT APPRAISE_DEPARTMENT
	  JOIN (SELECT code,s.GRID_TOTAL_NAME
	  FROM SYS_SEAT_SECOND s
	  WHERE s.FLAG_DEL     =0
	  AND s.FLAG_DEPARTMENT=1
	  UNION ALL
	  SELECT code,t.GRID_TOTAL_NAME
	  FROM SYS_SEAT_THIRD t
	  WHERE t.FLAG_DEL     =0
	  AND t.FLAG_DEPARTMENT=1)g
	  ON g.code =APPRAISE_DEPARTMENT.grid_code
	    where APPRAISE_DEPARTMENT.year=#{year} and APPRAISE_DEPARTMENT.flag_del=0
	    <if test="gridCode!=null and gridCode!=''">
	     	and g.code like #{gridCode}||'%'
	    </if>
	    <if test="type eq 'jiDu'.toString() and jiDu!=null and jiDu!='0'">
	    	and TO_CHAR(to_date(APPRAISE_DEPARTMENT.year||case when APPRAISE_DEPARTMENT.month&lt;10 then '0' else '' end ||APPRAISE_DEPARTMENT.month,'yyyyMM'), 'Q')=#{jiDu}
	    </if>
	     <if test="type eq 'month'.toString() and month!=null and month!='0'">
	    	and month =#{month}
	    	group by APPRAISE_DEPARTMENT.grid_code,g.GRID_TOTAL_NAME,APPRAISE_DEPARTMENT.MONTH
	    </if>
	    <if test="type eq 'jiDu'.toString()">
	    	group by  APPRAISE_DEPARTMENT.grid_code,g.GRID_TOTAL_NAME,TO_CHAR(to_date(APPRAISE_DEPARTMENT.year||case when APPRAISE_DEPARTMENT.month&gt;10 then '0' else '' end ||APPRAISE_DEPARTMENT.month,'yyyyMM'), 'Q')
	    </if> 
	   <if test="type eq 'year'.toString()">
	    	group by APPRAISE_DEPARTMENT.grid_code,g.GRID_TOTAL_NAME,APPRAISE_DEPARTMENT.year
	    </if> 
    </select>
</mapper>