<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dykj.GSM.mapper.eva.mapperinterf.AppraiseGridMapper" >
  <resultMap id="BaseResultMap" type="AppraiseGrid" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="FLAG_DEL" property="flagDel" jdbcType="CHAR" />
    <result column="FLAG_DISPLAY" property="flagDisplay" jdbcType="CHAR" />
    <result column="SORT" property="sort" jdbcType="DECIMAL" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="YEAR" property="year" jdbcType="DECIMAL" />
    <result column="MONTH" property="month" jdbcType="DECIMAL" />
    <result column="GRID_CODE" property="gridCode" jdbcType="VARCHAR" />
    <result column="CONTRADICT_GONG_SHI" property="contradictGongShi" jdbcType="VARCHAR" />
    <result column="EVENT_GONG_SHI" property="eventGongShi" jdbcType="VARCHAR" />
    <result column="LOG_GONG_SHI" property="logGongShi" jdbcType="VARCHAR" />
    <result column="XUN_GONG_SHI" property="xunGongShi" jdbcType="VARCHAR" />
    <result column="CONTRADICt_SCORE" property="contradictScore" jdbcType="DECIMAL" />
    <result column="EVENT_SCORE" property="eventScore" jdbcType="DECIMAL" />
    <result column="LOG_SCORE" property="logScore" jdbcType="DECIMAL" />
    <result column="XUN_CHA_SCORE" property="xunChaScore" jdbcType="DECIMAL" />
    <result column="TOTAL_SCORE" property="totalScore" jdbcType="DECIMAL" />
    <result column="grid_total_name" property="gridTotalName"/>
  </resultMap>
 <sql id="Base_Column_List">
      APPRAISE_GRID.CODE,APPRAISE_GRID.CREATE_DATE,APPRAISE_GRID.CREATE_BY,APPRAISE_GRID.FLAG_DEL,APPRAISE_GRID.FLAG_DISPLAY,APPRAISE_GRID.SORT,APPRAISE_GRID.REMARK,APPRAISE_GRID.YEAR,APPRAISE_GRID.MONTH,
      APPRAISE_GRID.GRID_CODE,APPRAISE_GRID.CONTRADICt_GONG_SHI,APPRAISE_GRID.EVENT_GONG_SHI,APPRAISE_GRID.LOG_GONG_SHI,APPRAISE_GRID.XUN_GONG_SHI,APPRAISE_GRID.CONTRADICt_SCORE,
      APPRAISE_GRID.EVENT_SCORE,APPRAISE_GRID.LOG_SCORE,APPRAISE_GRID.XUN_CHA_SCORE
  </sql>

 <insert id="insertBySelect" parameterType="java.util.Map" >
  
    insert into APPRAISE_GRID (CODE, CREATE_DATE, CREATE_BY, 
      FLAG_DEL, FLAG_DISPLAY, SORT, 
       YEAR, MONTH, 
      GRID_CODE
      <if test="evaSet.isContradict==true">
      ,CONTRADICT_SCORE,CONTRADICT_GONG_SHI
      </if>
       <if test="evaSet.isEvent==true"> 
      ,EVENT_SCORE, EVENT_GONG_SHI
      </if>
      <if test="evaSet.isLog==true"> 
      ,LOG_SCORE,LOG_GONG_SHI 
      </if>
      <if test="evaSet.isXunCha==true"> 
      ,XUN_CHA_SCORE,XUN_GONG_SHI
      </if>
        )
   select SYS_GUID(), '${createDate}', '${createBy}', 
      0, 0, 0,
      ${year},${month}, 
      c.grid_code
      <if test="evaSet.isContradict==true">
      ,case when contradictScore&gt;${evaSet.contradictBaseScore} then ${evaSet.contradictBaseScore} when contradictScore&lt;0 then 0 else contradictScore end as contradictScore,
      c.gongshi as contradictGongshi
      </if>
       <if test="evaSet.isEvent==true"> 
,case when eventScore&gt;${evaSet.eventBaseScore} then ${evaSet.eventBaseScore} when eventscore&lt;0 then 0 else eventScore end as eventscore,e.gongshi as eventGongshi
</if>
 <if test="evaSet.isLog==true"> 
,case when l.logscore&gt;${evaSet.logBaseScore} then ${evaSet.logBaseScore} when l.logscore&lt;0 then 0 else l.logScore end as logScore,l.loggongshi
</if>
 <if test="evaSet.isXunCha==true"> 
,case when l.zoufangScore&gt;${evaSet.zouFangBaseScore} then ${evaSet.zouFangBaseScore} when l.zoufangscore&lt;0 then 0 else l.zoufangscore end as zoufangscore,l.zoufanggongshi 
</if>

from
<choose>
<when  test="evaSet.isContradict==true">
--计算关于矛盾的分数，记录了分数和公式
( SELECT ${evaSet.contradictBaseScore}-(${evaSet.leastContradict}-(CASE 
    WHEN e.shangBaoShu&gt;${evaSet.leastContradict}
    THEN ${evaSet.leastContradict} else e.shangBaoShu end))*${evaSet.lessKouFenContradict}-h.kouFen*${evaSet.lateKouFenContradict} as contradictScore,
    '${evaSet.contradictBaseScore}-(${evaSet.leastContradict}-'||e.shangBaoshu||')*${evaSet.lessKouFenContradict}-'||h.kouFen||'*${evaSet.lateKouFenContradict}' as gongShi,
  h.grid_code
FROM
--汇总办事办晚了的数量
  (SELECT SUM(
    CASE
      WHEN h.finish_date &gt; h.due_date
      THEN 1
      ELSE 0
    END)   AS kouFen,
    g.code AS grid_code
  FROM sys_seat_grid g
  LEFT JOIN sys_user u
  ON u.grid_code=g.code
  LEFT JOIN e_contradict e
  ON e.grid_code=g.code
  AND e.FLAG_DEL=0
  left JOIN os_historystep h
  ON e.wf_entry=h.entry_id
  AND u.code||'#1'=h.owner
  AND TO_CHAR(h.due_date,'yyyymm')=#{year}||#{month2}
  WHERE g.code LIKE #{gridCode}||'%' and g.flag_del=0 and g.FLAG_DEPARTMENT=0
  GROUP BY g.code
  )h
LEFT JOIN
--汇总某年某月某些网格的事件上报数
  (SELECT COUNT(e.code) AS shangBaoShu,
    g.code grid_code
  FROM sys_seat_grid g
  left JOIN e_contradict e
  ON e.GRID_CODE=g.code
  AND e.event_num LIKE #{year}||#{month2}||'%'
  AND e.wf_entry IS NOT NULL
  AND e.flag_del  =0
  where g.code LIKE #{gridCode}||'%' and g.flag_del=0 and g.FLAG_DEPARTMENT=0
  GROUP BY g.code
  )e ON h.grid_code=e.grid_code )c 
  </when>
<otherwise>
 (select null as contradictScore,null as gongshi ,grid_code from sys_seat_grid where code like #{gridCode}||'%' and flag_del=0) c
</otherwise>
</choose>
   
  <choose>
<when  test="evaSet.isEvent==true">
--计算关于事件的分数，记录了分数和公式
left join  ( SELECT ${evaSet.eventBaseScore}-(${evaSet.leastEvent}-(CASE 
    WHEN e.shangBaoShu&gt;${evaSet.leastEvent}
    THEN ${evaSet.leastEvent} else e.shangBaoShu end))*${evaSet.lessKouFenEvent}-h.kouFen*${evaSet.lateKouFenEvent} as eventScore,
    '${evaSet.eventBaseScore}-(${evaSet.leastEvent}-'||e.shangBaoshu||')*${evaSet.lessKouFenEvent}-'||h.kouFen||'*${evaSet.lateKouFenEvent}' as gongShi,
  h.grid_code
FROM
--汇总办事办晚了的数量
  (SELECT SUM(
    CASE
      WHEN h.finish_date &gt; h.due_date
      THEN 1
      ELSE 0
    END)   AS kouFen,
    g.code AS grid_code
  FROM sys_seat_grid g
  LEFT JOIN sys_user u
  ON u.grid_code=g.code
  LEFT JOIN e_event e
  ON e.grid_code=g.code
  AND e.FLAG_DEL=0
  left JOIN os_historystep h
  ON e.wf_entry=h.entry_id
  AND u.code||'#1'=h.owner
  AND TO_CHAR(h.due_date,'yyyymm')=#{year}||#{month2}
  WHERE g.code LIKE #{gridCode}||'%' and g.flag_del=0 and g.FLAG_DEPARTMENT=0
  GROUP BY g.code
  )h
LEFT JOIN
--汇总某年某月某些网格的事件上报数
  (SELECT COUNT(e.code) AS shangBaoShu,
    g.code grid_code
  FROM sys_seat_grid g
  left JOIN e_event e
  ON e.GRID_CODE=g.code
  AND e.event_num LIKE #{year}||#{month2}||'%'
  AND e.wf_entry IS NOT NULL
  AND e.flag_del  =0
  where g.code LIKE #{gridCode}||'%' and g.flag_del=0 and g.FLAG_DEPARTMENT=0
  GROUP BY g.code
  )e ON h.grid_code=e.grid_code) e  on c.grid_code=e.grid_code
    </when>
<otherwise>
 (select null as eventScore,null as gongshi ,grid_code from sys_seat_grid where code like #{gridCode}||'%' and flag_del=0) e  on c.grid_code=e.grid_code
</otherwise>
</choose>
 
  <choose>
<when  test="evaSet.isLog==true or evaSet.isXunCha==true">
--计算日志和走访户，日志每个工作日得写，通过sys_legal_date 可以获得，走访户也是从民情日志中得到的
  left join  ( SELECT
  <if test="evaSet.isLog==true">
  nvl(${evaSet.logBaseScore}-(d.work_count-COUNT(UNIQUE substr(l.create_date,9,2)))*${evaSet.lessKouFenLog},0)
  AS logScore,
  ${evaSet.logBaseScore}||'-('||d.work_count||'-'||COUNT(UNIQUE substr(l.create_date,9,2))||')*${evaSet.lessKouFenLog}' as logGongShi
  </if>
  <if test="evaSet.isXunCha==true">
   ,nvl(${evaSet.zouFangBaseScore}-(${evaSet.leastZouFangHu}- nvl(sum(l.FALIMY_COUNT),0))*${evaSet.lessKouFenZouFangHu},0) as zouFangScore,
  ${evaSet.zouFangBaseScore}||'-(${evaSet.leastZouFangHu}-'||nvl(sum(l.FALIMY_COUNT),0)||')*${evaSet.lessKouFenZouFangHu}' as zouFangGongShi
  </if>
 ,g.code as grid_code
FROM sys_seat_grid g
join sys_eva_set v on v.flag_del=0
LEFT JOIN thing_log l
ON l.grid_code=g.code and l.flag_del=0
AND l.create_date like #{year}||'-'||#{month2}||'%'
LEFT JOIN sys_legal_date d
on instr ( work_day ,substr(l.create_date,9,2)||',' )   &gt;0
AND  d.flag_del=0 and d.year  =#{year}
AND d.month =#{month}
where  g.code like #{gridCode}||'%' and g.flag_del=0 and g.FLAG_DEPARTMENT=0
GROUP BY g.code,
  d.work_count )l  on l.grid_code =e.grid_code
  </when>
  <otherwise>
  (select null as logScore,null as logGongShi ,null as zouFangScore,null as zoufanggongshi ,grid_code from sys_seat_grid where code like #{gridCode}||'%' and flag_del=0) l  on l.grid_code =e.grid_code
  </otherwise>
  </choose>
 </insert>

 
 
   <update id="update" parameterType="AppraiseGrid" >
   update APPRAISE_GRID
    <set >
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="flagDel != null" >
        FLAG_DEL = #{flagDel,jdbcType=CHAR},
      </if>
      <if test="flagDisplay != null" >
        FLAG_DISPLAY = #{flagDisplay,jdbcType=CHAR},
      </if>
      <if test="sort != null" >
        SORT = #{sort,jdbcType=DECIMAL},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="year != null" >
        YEAR = #{year,jdbcType=DECIMAL},
      </if>
      <if test="month != null" >
        MONTH = #{month,jdbcType=DECIMAL},
      </if>
      <if test="gridCode != null" >
        GRID_CODE = #{gridCode,jdbcType=VARCHAR},
      </if>
      <if test="contradictGongShi != null" >
        CONTRADICT_GONG_SHI = #{contradictGongShi,jdbcType=VARCHAR},
      </if>
      <if test="eventGongShi != null" >
        EVENT_GONG_SHI = #{eventGongShi,jdbcType=VARCHAR},
      </if>
      <if test="logGongShi != null" >
        LOG_GONG_SHI = #{logGongShi,jdbcType=VARCHAR},
      </if>
      <if test="xunGongShi != null" >
        XUN_GONG_SHI = #{xunGongShi,jdbcType=VARCHAR},
      </if>
      <if test="contradictScore != null" >
        CONTRADICT_SCORE = #{contradictScore,jdbcType=DECIMAL},
      </if>
      <if test="eventScore != null" >
        EVENT_SCORE = #{eventScore,jdbcType=DECIMAL},
      </if>
      <if test="logScore != null" >
        LOG_SCORE = #{logScore,jdbcType=DECIMAL},
      </if>
      <if test="xunChaScore != null" >
        XUN_CHA_SCORE = #{xunChaScore,jdbcType=DECIMAL},
      </if>
      <if test="totalScore != null" >
        TOTAL_SCORE = #{totalScore,jdbcType=DECIMAL},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
<!-- 删除一条信息-->
   <update id="deletePk" parameterType="String">
       UPDATE APPRAISE_GRID SET FLAG_DEL=1 WHERE CODE=#{code}
   </update>
   <!--根据年月删除-->
    <update id="deleteByYearAndMonth" parameterType="java.util.Map">
       UPDATE APPRAISE_GRID SET FLAG_DEL=1 WHERE year=#{year} and month=#{month} and grid_code like #{gridCode}||'%'
   </update> 
  <!-- 批量删除(为假删，规定：0为显示，1为删除) ，预留接口，但不对其实现功能
    <update id="deleteBatch">
       UPDATE APPRAISE_GRID SET FLAG_DEL=1,createDate=sysdate WHERE CODE IN 
       <trim prefix="(" suffix=")" suffixOverrides=",">
          <foreach collection="list" item="code" separator=",">
	          #{code}
          </foreach>
       </trim>
    </update>
     根据主键查询实体对象--> 
    <select id="queryByKey" parameterType="String" resultMap="BaseResultMap">
        SELECT h.*,g.grid_total_name as gridTotalName  FROM APPRAISE_GRID h join sys_seat_grid g on g.code=h.grid_code
                WHERE h.FLAG_DEL != 1 and g.flag_del=0 AND h.CODE=#{code}
    </select>
    <select id="queryByMapPage" parameterType="java.util.Map" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>,nvl(APPRAISE_GRID.Event_score,0)+nvl(APPRAISE_GRID.CONTRADICt_SCORE,0)+nvl(APPRAISE_GRID.log_Score,0)+nvl(APPRAISE_GRID.xun_cha_score,0) as total_score 
    ,g.grid_total_name as GRID_TOTAL_NAME 
    from APPRAISE_GRID APPRAISE_GRID join sys_seat_grid g on g.code=APPRAISE_GRID.grid_code and g.flag_del=0 and g.FLAG_DEPARTMENT=0
    where APPRAISE_GRID.flag_del=0 and APPRAISE_GRID.year=#{year} and APPRAISE_GRID.month=#{month} and APPRAISE_GRID.grid_Code like #{gridCode}||'%'
    </select> 
    
    <!-- 统计 -->
    <select id="queryStatisticsPage" parameterType="java.util.Map" resultMap="BaseResultMap">
	    select  APPRAISE_GRID.grid_code,round(avg(APPRAISE_GRID.CONTRADICT_SCORE),2) as CONTRADICT_SCORE,
  round(avg(APPRAISE_GRID.event_score),2) as event_score,
  round(avg(APPRAISE_GRID.xun_cha_score),2) as xun_cha_score,
  round(avg(APPRAISE_GRID.log_score),2) as log_score,
  round(avg(nvl(APPRAISE_GRID.CONTRADICT_SCORE,0)+nvl(APPRAISE_GRID.event_score,0)+nvl(APPRAISE_GRID.xun_cha_score,0)+nvl(APPRAISE_GRID.log_score,0)),2) as total_score,
	 g.grid_total_name<!-- ,APPRAISE_GRID.CONTRADICT_GONG_SHI,APPRAISE_GRID.XUN_GONG_SHI,APPRAISE_GRID.EVENT_GONG_SHI,APPRAISE_GRID.LOG_GONG_SHI -->
	 from APPRAISE_GRID APPRAISE_GRID 
	    join sys_seat_grid g  on g.code=APPRAISE_GRID.grid_code and g.flag_del=0
	    where APPRAISE_GRID.year=#{year} and APPRAISE_GRID.flag_del=0
	    <if test="gridCode!=null and gridCode!=''">
	     	and g.code like #{gridCode}||'%'
	    </if>
	    <if test="type eq 'jiDu'.toString() and jiDu!=null and jiDu!='0'">
	    	and TO_CHAR(to_date(APPRAISE_GRID.year||case when APPRAISE_GRID.month&lt;10 then '0' else '' end ||APPRAISE_GRID.month,'yyyyMM'), 'Q')=#{jiDu}
	    </if>
	     <if test="type eq 'month'.toString() and month!=null and month!='0'">
	    	and month =#{month}
	    	group by APPRAISE_GRID.grid_code,g.GRID_TOTAL_NAME,APPRAISE_GRID.MONTH
	    </if>
	    <if test="type eq 'jiDu'.toString()">
	    	group by  APPRAISE_GRID.grid_code,g.GRID_TOTAL_NAME,TO_CHAR(to_date(APPRAISE_GRID.year||case when APPRAISE_GRID.month&gt;10 then '0' else '' end ||APPRAISE_GRID.month,'yyyyMM'), 'Q')
	    </if> 
	   <if test="type eq 'year'.toString()">
	    	group by APPRAISE_GRID.grid_code,g.GRID_TOTAL_NAME,APPRAISE_GRID.year
	    </if> 
    </select>
    <!-- 为index页添加的统计 -->
    <select id="staticForIndex" parameterType="java.util.Map" resultType="java.util.Map">
    <choose>
     <when test="gridCode.length()==20">
     	SELECT g.name as name,nvl(a.CONTRADICT_SCORE,0)+nvl(a.EVENT_SCORE,0)+nvl(a.LOG_SCORE,0)+nvl(a.XUN_CHA_SCORE,0) as counts
		FROM APPRAISE_GRID a
		JOIN
		SYS_SEAT_grid g
		ON g.code=a.grid_code
		WHERE g.flag_department=0
		  AND g.flag_del=0 
		  and a.FLAG_DEL=0 
		  and year=#{year} 
		  and a.MONTH=#{month} 
		  and g.code like substr(#{gridCode},1,12)||'%'
     </when>
     <when test="gridCode.length()==12">
     	SELECT g.name as name,nvl(a.TOTAL_SCORE,0) as counts
		FROM APPRAISE_COMMUNITY a
		JOIN
		SYS_SEAT_four g
		ON g.code=a.grid_code
		WHERE g.flag_department=0
		  AND g.flag_del=0 
		  and a.FLAG_DEL=0 
		  and year=#{year} 
		  and a.MONTH=#{month} 
		  and g.code like substr(#{gridCode},1,8)||'%'
     </when>
     <when test="gridCode.length()==8">
     	SELECT g.name as name,nvl(a.TOTAL_SCORE,0) as counts
		FROM APPRAISE_street a
		JOIN
		SYS_SEAT_third g
		ON g.code=a.grid_code
		WHERE g.flag_department=0
		  AND g.flag_del=0 
		  and a.FLAG_DEL=0 
		  and year=#{year} 
		  and a.MONTH=#{month} 
		  and g.code like substr(#{gridCode},1,5)||'%'
     </when>
      <when test="gridCode.length()==5">
     	SELECT g.name as name,nvl(a.CONTRADICT_SCORE,0)+nvl(a.event_score,0) as counts
		FROM APPRAISE_DEPARTMENT a
		JOIN
		SYS_SEAT_third g
		ON g.code=a.grid_code
		WHERE g.flag_department=1
		  AND g.flag_del=0 
		  and a.FLAG_DEL=0 
		  and year=#{year} 
		  and a.MONTH=#{month} 
		  and g.code like #{gridCode}||'%'
     </when>
      <when test="gridCode.length()==2">
     	SELECT g.name as name,nvl(a.CONTRADICT_SCORE,0)+nvl(a.event_score,0) as counts
		FROM APPRAISE_DEPARTMENT a
		JOIN
		SYS_SEAT_second g
		ON g.code=a.grid_code
		WHERE g.flag_department=1
		  AND g.flag_del=0 
		  and a.FLAG_DEL=0 
		  and year=#{year} 
		  and a.MONTH=#{month} 
		  and g.code like #{gridCode}||'%'
     </when>
    </choose>
    </select>
</mapper>