@charset "utf-8";
body { background-color:#f5f5f5;}
/*头部样式表*/
.header { height: 60px; position: relative; width: 100%; }
.logo { position: absolute; }
.user { position: absolute; top: 12px; right: 20px; background-color: #0066cc; color: #FFF; line-height: 40px; text-align: right; }
a.uer_img{ display: block; padding: 10px 8px 9px; position: relative; }
.shuliang { background-color: #F00; height: 14px; width: 12px; line-height: 14px; left: 21px; position: absolute; top: 5px; text-align: center; text-decoration: none; color: #FFF; }
a.uer_img:hover{ background-color:#ff9900;}
/*background:url(/App_Themes/NewStyle/Images/home/home.png) no-repeat center center  #0542a0;*/ 
.home_back { width:100%; min-height:400px; min-width:1000px; background:url(/gsm/resource/images/indexbg23.png) #0066cc no-repeat center;}
.home_main { width: 990px; position: absolute; top: 60%; left: 50%; clear: both; margin-top: -200px; margin-right: 0; margin-bottom: 0; margin-left: -380px; }
.home_main a{ height: 100%; width: 100%; display: block; text-decoration: none; }
.home_main h2 { font-size: 15px; line-height: 26px; font-weight: normal; text-decoration: none; font-family: "微软雅黑", Arial; position: absolute; bottom: 0px; left:0px; display: block; color: #FFF; width:100%; text-indent:14px;}
.h2_back{ height:26px; position: absolute; bottom: 0px; left:0px; width:100%; opacity:0.8;}
.btn_touming{opacity:0.75;}
.home_system {width:512px;}
.home_user{width:520px}
.home_system li{ float: left; margin: 0 8px 8px 0; color: #FFF; position:relative;}
.home_system_back{background-image: url(/App_Themes/NewStyle/Images/home/touming.png); background-repeat: repeat-y; background-position: right top; height:100%; position:absolute; bottom:0px; left:0px; width:100%}
/*.home_system_back img { margin:15px 0 0 80px;}*/
.home_user li { float: left; margin:0 0 8px 8px; position: relative;} 
.home_user_back{ background-image: url(/App_Themes/NewStyle/Images/home/touming_2.png); background-repeat: repeat-y; background-position: right top; }
.home_biankuang{ position:absolute; top:0; left:0;}
.w248{ width:248px; height:120px;}
.w120 { width: 120px; height: 120px; background-color: #FFF; }
.color_orange{ background-color: #ffaa33;}
.color_green{ background-color: #008800;}
.color_blue{ background-color: #2672ec;}
.color_blue_2{ background-color: #0a4bb3;}
.color_green_2{ background-color: #01a602;}
.color_orange_2{ background-color: #d44827;}
.color_violet{ background-color: #8d0196;}
.color_red{ background-color: #ab193d;}
.color_hui{ background-color: #454545;}
.li_hover { color: #FFF; background:url(/App_Themes/NewStyle/Images/home/li_bj_03.png) no-repeat; height: 120px; width: 223px; padding: 10px; position: absolute; z-index: 800; top: 0px; border: 1px solid #ffb400;box-shadow:0 2px 0 #0542a0;}
.li_hover h1 { font-weight: normal;}
.li_hover span {line-height:32px;}
.li_hover p { line-height:18px; font-size:13px;}
.home_main a { display: block; }
.footer { height: 32px; border-top-width: 1px; border-top-style: solid; border-top-color: #FFF; }
.footer img { position: relative; left: 10px; top: 10px;}
